#### 국건영 건강설문조사 변수들 (1343개) 중 건보공단 변수 (122개) 와 일치하는 변수들만 남기는 작업

In [1]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

In [2]:
fourth = pd.read_csv('건강설문조사_4기(2007-2009).csv', low_memory=False)
fourth.drop(['Unnamed: 0'], axis = 1, inplace = True)
fourth

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_4_12,MP6_5_12,MP6_6_12,MP6_8_12,MP6_9_12,MP7_1_12,MP8_4_12,kstrata2,age_month,wt_dw
0,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A548480902',2007.0,1.0,1.0,1.0,b'A548',2.0,50.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A548480904',2007.0,1.0,1.0,1.0,b'A548',2.0,21.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A548560901',2007.0,1.0,1.0,1.0,b'A548',2.0,35.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A548560902',2007.0,1.0,1.0,1.0,b'A548',2.0,12.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23475,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23476,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN
23477,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN
23478,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4499.550929
23479,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5937.500483

In [3]:
fourth_08 = fourth.loc[fourth['year'] == 2008].reset_index(drop=True)
fourth_08

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_4_12,MP6_5_12,MP6_6_12,MP6_8_12,MP6_9_12,MP7_1_12,MP8_4_12,kstrata2,age_month,wt_dw
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
4,b'2019.03.06.',b'A448680502',2008.0,1.0,1.0,1.0,b'A448',1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276,b'2019.03.06.',b'P451960905',2008.0,16.0,1.0,1.0,b'P451',2.0,2.0,4.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
9277,b'2019.03.06.',b'P451980901',2008.0,16.0,1.0,1.0,b'P451',1.0,67.0,1.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
9278,b'2019.03.06.',b'P451980902',2008.0,16.0,1.0,1.0,b'P451',2.0,62.0,1.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
9279,b'2019.03.06.',b'P451980905',2008.0,16.0,1.0,1.0,b'P451',1.0,8.0,1.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
9280,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN

In [4]:
fourth_09 = fourth.loc[fourth['year'] == 2009].reset_index(drop=True)
fourth_09

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_4_12,MP6_5_12,MP6_6_12,MP6_8_12,MP6_9_12,MP7_1_12,MP8_4_12,kstrata2,age_month,wt_dw
0,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408.0,NaN,3524.851054
1,b'2019.03.06.',b'A408359802',2009.0,1.0,1.0,1.0,b'A408',2.0,49.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408.0,NaN,3524.851054
2,b'2019.03.06.',b'A408359803',2009.0,1.0,1.0,1.0,b'A408',1.0,25.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408.0,NaN,7717.442405
3,b'2019.03.06.',b'A408399801',2009.0,1.0,1.0,1.0,b'A408',1.0,55.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408.0,NaN,5245.773440
4,b'2019.03.06.',b'A408399802',2009.0,1.0,1.0,1.0,b'A408',2.0,51.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408.0,NaN,3264.671105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10046,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10047,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN
10048,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN
10049,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4499.550929
10050,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5937.500483

In [5]:
data_0809 = pd.concat([fourth_08, fourth_09], axis = 0)
data_0809

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_4_12,MP6_5_12,MP6_6_12,MP6_8_12,MP6_9_12,MP7_1_12,MP8_4_12,kstrata2,age_month,wt_dw
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
4,b'2019.03.06.',b'A448680502',2008.0,1.0,1.0,1.0,b'A448',1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10046,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10047,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN
10048,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN
10049,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4499.550929
10050,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5937.500483

In [6]:
fifth = pd.read_csv('건강설문조사_5기 (2010-2012).csv', low_memory=False)
fifth.drop(['Unnamed: 0'], axis = 1, inplace = True)
fifth

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,MO4_1_23,MO4_1_24,MO4_1_25,MO4_1_26,MO8_4_21,MO8_4_22,MO8_4_23,MO8_4_24,MO8_4_25,MO8_4_26
0,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A308059802',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',2.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A308120201',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',1.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A308120202',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A308120203',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23860,b'2019.03.06.',b'P111978901',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',1.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23861,b'2019.03.06.',b'P111978902',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',2.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23862,b'2019.03.06.',b'P111979301',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',1.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23863,b'2019.03.06.',b'P111979302',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',2.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23864,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
fifth_10 = fifth.loc[fifth['year'] == 2010].reset_index(drop=True)
fifth_10

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,MO4_1_23,MO4_1_24,MO4_1_25,MO4_1_26,MO8_4_21,MO8_4_22,MO8_4_23,MO8_4_24,MO8_4_25,MO8_4_26
0,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A308059802',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',2.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A308120201',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',1.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A308120202',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A308120203',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8468,b'2019.03.06.',b'P311960702',b'P3119607',2010.0,16.0,1.0,1.0,b'P311',1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8469,b'2019.03.06.',b'P311960703',b'P3119607',2010.0,16.0,1.0,1.0,b'P311',2.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8470,b'2019.03.06.',b'P311960704',b'P3119607',2010.0,16.0,1.0,1.0,b'P311',1.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8471,b'2019.03.06.',b'P311960902',b'P3119609',2010.0,16.0,1.0,1.0,b'P311',2.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8472,b'2019.03.06.',b'P311960904',b'P3119609',2010.0,16.0,1.0,1.0,b'P311',2.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
health_survey = pd.concat([data_0809, fifth_10], axis = 0)
health_survey

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MO3_4_25,MO3_4_26,MO4_1_23,MO4_1_24,MO4_1_25,MO4_1_26,MO8_4_23,MO8_4_24,MO8_4_25,MO8_4_26
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A448680502',2008.0,1.0,1.0,1.0,b'A448',1.0,12.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8468,b'2019.03.06.',b'P311960702',2010.0,16.0,1.0,1.0,b'P311',1.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8469,b'2019.03.06.',b'P311960703',2010.0,16.0,1.0,1.0,b'P311',2.0,13.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8470,b'2019.03.06.',b'P311960704',2010.0,16.0,1.0,1.0,b'P311',1.0,47.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8471,b'2019.03.06.',b'P311960902',2010.0,16.0,1.0,1.0,b'P311',2.0,20.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8472,b'2019.03.06.',b'P311960904',2010.0,16.0,1.0,1.0,b'P311',2.0,15.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
health_survey.to_csv('건강설문조사 (2008-2010).csv', encoding = 'euc-kr', index = False)

In [10]:
health_survey.columns

Index(['mod_d', 'ID', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age',
       'incm',
       ...
       'MO3_4_25', 'MO3_4_26', 'MO4_1_23', 'MO4_1_24', 'MO4_1_25', 'MO4_1_26',
       'MO8_4_23', 'MO8_4_24', 'MO8_4_25', 'MO8_4_26'],
      dtype='object', length=1478)

In [11]:
health_survey['E_Cr_1']

KeyError: 'E_Cr_1'