In [1]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

In [2]:
fourth = pd.read_csv('기본DB_4기 (2007-2009).csv', low_memory=False)
fourth

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DS_4_1,DS_4_2,DS_5_1,DS_5_2,OA_H_scale,OA_K_scale,OA_KH,HW_ES_S3,HW_ES_E3,HW_ES_D3
0,b'2019.03.06',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06',b'A548480902',2007.0,1.0,1.0,1.0,b'A548',2.0,50.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06',b'A548480903',2007.0,1.0,1.0,1.0,b'A548',1.0,23.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06',b'A548480904',2007.0,1.0,1.0,1.0,b'A548',2.0,21.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06',b'A548560901',2007.0,1.0,1.0,1.0,b'A548',2.0,35.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24866,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0
24867,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0
24868,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24869,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24870,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0

In [5]:
fourth_08 = fourth.loc[fourth['year'] == 2008].reset_index(drop=True)
fourth_08

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DS_4_1,DS_4_2,DS_5_1,DS_5_2,OA_H_scale,OA_K_scale,OA_KH,HW_ES_S3,HW_ES_E3,HW_ES_D3
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A448680502',2008.0,1.0,1.0,1.0,b'A448',1.0,12.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,b'2019.03.06.',b'P451960905',2008.0,16.0,1.0,1.0,b'P451',2.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9740,b'2019.03.06.',b'P451980901',2008.0,16.0,1.0,1.0,b'P451',1.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9741,b'2019.03.06.',b'P451980902',2008.0,16.0,1.0,1.0,b'P451',2.0,62.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9742,b'2019.03.06.',b'P451980905',2008.0,16.0,1.0,1.0,b'P451',1.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9743,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
fourth_09 = fourth.loc[fourth['year'] == 2009].reset_index(drop=True)
fourth_09

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DS_4_1,DS_4_2,DS_5_1,DS_5_2,OA_H_scale,OA_K_scale,OA_KH,HW_ES_S3,HW_ES_E3,HW_ES_D3
0,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.0,8.0,10.0,4.0,NaN,NaN,NaN,b'999',b'999',999.0
1,b'2019.03.06.',b'A408359802',2009.0,1.0,1.0,1.0,b'A408',2.0,49.0,2.0,...,0.0,8.0,9.0,4.0,NaN,NaN,NaN,b'888',b'888',888.0
2,b'2019.03.06.',b'A408359803',2009.0,1.0,1.0,1.0,b'A408',1.0,25.0,2.0,...,0.0,8.0,9.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A408399801',2009.0,1.0,1.0,1.0,b'A408',1.0,55.0,4.0,...,0.0,8.0,2.0,8.0,0.0,1.0,0.0,NaN,NaN,NaN
4,b'2019.03.06.',b'A408399802',2009.0,1.0,1.0,1.0,b'A408',2.0,51.0,4.0,...,8.0,8.0,88.0,88.0,0.0,2.0,0.0,b'999',b'999',999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0
10529,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0
10530,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10531,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10532,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0

In [6]:
data_0809 = pd.concat([fourth_08, fourth_09], axis = 0)
data_0809

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DS_4_1,DS_4_2,DS_5_1,DS_5_2,OA_H_scale,OA_K_scale,OA_KH,HW_ES_S3,HW_ES_E3,HW_ES_D3
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A448680502',2008.0,1.0,1.0,1.0,b'A448',1.0,12.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0
10529,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0
10530,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10531,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10532,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0

In [7]:
fifth = pd.read_csv('기본DB_5기 (2010-2012).csv', low_memory=False)
fifth

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,LF_S10,LF_S11,LF_S12,LF_S13,LF_S14,LF_S14_1,LF_S15,LF_S16,LF_SECUR,LF_SECUR_G
0,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A308059802',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',2.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A308120201',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',1.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A308120202',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A308120203',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25529,b'2019.03.06.',b'P111978901',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',1.0,75.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
25530,b'2019.03.06.',b'P111978902',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',2.0,67.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
25531,b'2019.03.06.',b'P111979301',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',1.0,63.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
25532,b'2019.03.06.',b'P111979302',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',2.0,59.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
25533,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0

In [8]:
fifth_10 = fifth.loc[fifth['year'] == 2010].reset_index(drop=True)
fifth_10

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,LF_S10,LF_S11,LF_S12,LF_S13,LF_S14,LF_S14_1,LF_S15,LF_S16,LF_SECUR,LF_SECUR_G
0,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A308059802',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',2.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A308120201',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',1.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A308120202',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A308120203',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,b'2019.03.06.',b'P311960702',b'P3119607',2010.0,16.0,1.0,1.0,b'P311',1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8954,b'2019.03.06.',b'P311960703',b'P3119607',2010.0,16.0,1.0,1.0,b'P311',2.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8955,b'2019.03.06.',b'P311960704',b'P3119607',2010.0,16.0,1.0,1.0,b'P311',1.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8956,b'2019.03.06.',b'P311960902',b'P3119609',2010.0,16.0,1.0,1.0,b'P311',2.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8957,b'2019.03.06.',b'P311960904',b'P3119609',2010.0,16.0,1.0,1.0,b'P311',2.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
fifth_11 = fifth.loc[fifth['year'] == 2011].reset_index(drop=True)
fifth_11

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,LF_S10,LF_S11,LF_S12,LF_S13,LF_S14,LF_S14_1,LF_S15,LF_S16,LF_SECUR,LF_SECUR_G
0,b'2019.03.06.',b'A348963501',b'A3489635',2011.0,1.0,1.0,1.0,b'A348',2.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A348963503',b'A3489635',2011.0,1.0,1.0,1.0,b'A348',2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A348964302',b'A3489643',2011.0,1.0,1.0,1.0,b'A348',2.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A348964701',b'A3489647',2011.0,1.0,1.0,1.0,b'A348',1.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A348964702',b'A3489647',2011.0,1.0,1.0,1.0,b'A348',2.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,b'2019.03.06.',b'P351978101',b'P3519781',2011.0,16.0,1.0,2.0,b'P351',1.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8514,b'2019.03.06.',b'P351978102',b'P3519781',2011.0,16.0,1.0,2.0,b'P351',2.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8515,b'2019.03.06.',b'P351979701',b'P3519797',2011.0,16.0,1.0,2.0,b'P351',1.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8516,b'2019.03.06.',b'P351979702',b'P3519797',2011.0,16.0,1.0,2.0,b'P351',2.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8517,b'2019.03.06.',b'P351980701',b'P3519807',2011.0,16.0,1.0,2.0,b'P351',2.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
basicDB = pd.concat([data_0809, fifth_10, fifth_11], axis = 0)
basicDB

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,LF_S10,LF_S11,LF_S12,LF_S13,LF_S14,LF_S14_1,LF_S15,LF_S16,LF_SECUR,LF_SECUR_G
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A448680502',2008.0,1.0,1.0,1.0,b'A448',1.0,12.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,b'2019.03.06.',b'P351978101',2011.0,16.0,1.0,2.0,b'P351',1.0,66.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8514,b'2019.03.06.',b'P351978102',2011.0,16.0,1.0,2.0,b'P351',2.0,62.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8515,b'2019.03.06.',b'P351979701',2011.0,16.0,1.0,2.0,b'P351',1.0,57.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8516,b'2019.03.06.',b'P351979702',2011.0,16.0,1.0,2.0,b'P351',2.0,57.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8517,b'2019.03.06.',b'P351980701',2011.0,16.0,1.0,2.0,b'P351',2.0,48.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
basicDB.to_csv('기본DB (2008-2011).csv', encoding = 'euc-kr', index = False)

### 변수들 있는지 확인

In [11]:
# 신장

basicDB['HE_ht']

0       155.2
1       165.6
2       152.3
3       162.5
4       160.7
        ...
8953    126.6
8954    152.7
8955    169.5
8956    164.4
8957    162.2
Name: HE_ht, Length: 29235, dtype: float64

In [12]:
# 체중

basicDB['HE_wt']

0       58.0
1       63.4
2       59.3
3       53.4
4       45.4
        ...
8953    35.5
8954    54.2
8955    73.0
8956    62.9
8957    57.8
Name: HE_wt, Length: 29235, dtype: float64

In [13]:
# BMI

basicDB['HE_BMI']

0       24.079339
1       23.118976
2       25.565535
3       20.222485
4       17.580212
          ...
8953    22.149348
8954    23.244554
8955    25.408759
8956    23.272713
8957    21.969802
Name: HE_BMI, Length: 29235, dtype: float64

In [16]:
# 최종 수축기 혈압(보정값)

basicDB["HE_sbp_tr"]

0       122.3
1       128.7
2       133.7
3       104.7
4        89.3
        ...
8953      NaN
8954     88.9
8955    132.5
8956    102.9
8957     83.9
Name: HE_sbp_tr, Length: 29235, dtype: float64

In [17]:
# 최종 이완기 혈압(보정값)

basicDB["HE_dbp_tr"]

0       71.3
1       82.7
2       90.7
3       70.7
4       51.3
        ...
8953     NaN
8954    55.9
8955    88.5
8956    73.9
8957    42.9
Name: HE_dbp_tr, Length: 29235, dtype: float64

In [18]:
# 비만도

basicDB["HE_obe"]

0       2.0
1       2.0
2       3.0
3       2.0
4       NaN
       ...
8953    NaN
8954    NaN
8955    3.0
8956    2.0
8957    NaN
Name: HE_obe, Length: 29235, dtype: float64

In [25]:
# 당화혈색소

basicDB["HE_HbA1c"]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
8953    NaN
8954    NaN
8955    6.0
8956    NaN
8957    NaN
Name: HE_HbA1c, Length: 29235, dtype: float64

In [26]:
# 공복혈당

basicDB["HE_glu"]

0        98.0
1       100.0
2        97.0
3        93.0
4        77.0
        ...
8953      NaN
8954     90.0
8955    126.0
8956     84.0
8957     88.0
Name: HE_glu, Length: 29235, dtype: float64

In [27]:
# 총콜레스테롤

basicDB["HE_chol"]

0       144.0
1       248.0
2       199.0
3       200.0
4       155.0
        ...
8953      NaN
8954    144.0
8955    138.0
8956    144.0
8957    178.0
Name: HE_chol, Length: 29235, dtype: float64

In [29]:
# 

basicDB["HE_alt"]

0       35.0
1       12.0
2       52.0
3       16.0
4       14.0
        ...
8953     NaN
8954     8.0
8955    27.0
8956    10.0
8957    13.0
Name: HE_alt, Length: 29235, dtype: float64

In [30]:
# 요단백

basicDB["HE_Upro"]

0       0.0
1       0.0
2       0.0
3       0.0
4       1.0
       ...
8953    NaN
8954    3.0
8955    1.0
8956    NaN
8957    0.0
Name: HE_Upro, Length: 29235, dtype: float64

In [34]:
# 당뇨병 의사진단 여부

basicDB["HE_DMdg"]

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
8953    NaN
8954    0.0
8955    0.0
8956    0.0
8957    0.0
Name: HE_DMdg, Length: 29235, dtype: float64

In [35]:
# 고혈압 의사진단 여부

basicDB["HE_HPdg"]

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
8953    NaN
8954    0.0
8955    1.0
8956    0.0
8957    0.0
Name: HE_HPdg, Length: 29235, dtype: float64

In [36]:
# 고혈압 유병여부

basicDB["HE_HP_tr"]

0       2.0
1       2.0
2       3.0
3       1.0
4       NaN
       ...
8953    NaN
8954    NaN
8955    3.0
8956    1.0
8957    NaN
Name: HE_HP_tr, Length: 29235, dtype: float64

In [37]:
# 허리둘레

basicDB["HE_wc"]

0       75.2
1       87.5
2       81.0
3       65.1
4       57.0
        ...
8953    68.6
8954    75.3
8955    92.0
8956    74.3
8957    69.6
Name: HE_wc, Length: 29235, dtype: float64

In [38]:
# 주관적 건강상태

basicDB["D_1_1"]

0       3.0
1       2.0
2       2.0
3       2.0
4       2.0
       ...
8953    1.0
8954    2.0
8955    4.0
8956    2.0
8957    2.0
Name: D_1_1, Length: 29235, dtype: float64

In [39]:
# 뇌졸중 평생유병여부

basicDB["DI3_lt"]

0       0.0
1       0.0
2       0.0
3       0.0
4       NaN
       ...
8953    8.0
8954    8.0
8955    0.0
8956    0.0
8957    8.0
Name: DI3_lt, Length: 29235, dtype: float64

In [40]:
# 심근경색증, 협심증 평생유병여부

basicDB["DI4_lt"]

0       0.0
1       0.0
2       0.0
3       0.0
4       NaN
       ...
8953    NaN
8954    NaN
8955    0.0
8956    0.0
8957    NaN
Name: DI4_lt, Length: 29235, dtype: float64

In [41]:
# 정신건강 - 스트레스 인지도

basicDB["BP1"]

0       2.0
1       2.0
2       3.0
3       3.0
4       2.0
       ...
8953    8.0
8954    2.0
8955    2.0
8956    3.0
8957    3.0
Name: BP1, Length: 29235, dtype: float64

In [42]:
# 흡연 - 현재 흡연 여부

basicDB["BS3_1"]

0       1.0
1       8.0
2       8.0
3       8.0
4       NaN
       ...
8953    8.0
8954    8.0
8955    3.0
8956    8.0
8957    8.0
Name: BS3_1, Length: 29235, dtype: float64

In [43]:
# 흡연 - 현재흡연자 하루 평균 흡연량

basicDB["BS3_2"]

0        10.0
1       888.0
2       888.0
3       888.0
4         NaN
        ...
8953    888.0
8954    888.0
8955    888.0
8956    888.0
8957    888.0
Name: BS3_2, Length: 29235, dtype: float64

In [45]:
# 신체활동 - 1주일간 중등도 신체활동 일수

basicDB["BE3_21"]

0        1.0
1        8.0
2        1.0
3        7.0
4        6.0
        ...
8953    88.0
8954     1.0
8955     5.0
8956     1.0
8957     6.0
Name: BE3_21, Length: 29235, dtype: float64

In [46]:
# 신체활동 - 중등도 신체활동 지속시간

basicDB["BE3_22"]

0       88.0
1        1.0
2       88.0
3        0.0
4        0.0
        ...
8953    88.0
8954    88.0
8955     0.0
8956    88.0
8957     1.0
Name: BE3_22, Length: 29235, dtype: float64

In [47]:
# 신체활동 - 격렬한 신체활동 실천율

basicDB["pa_high"]

0       0.0
1       0.0
2       0.0
3       1.0
4       NaN
       ...
8953    NaN
8954    NaN
8955    0.0
8956    0.0
8957    NaN
Name: pa_high, Length: 29235, dtype: float64

In [48]:
# 신체활동 - 중등도 신체활동 실천율

basicDB["pa_mid"]

0       0.0
1       1.0
2       0.0
3       1.0
4       NaN
       ...
8953    NaN
8954    NaN
8955    0.0
8956    0.0
8957    NaN
Name: pa_mid, Length: 29235, dtype: float64

In [49]:
# 신체활동 - 걷기 실천율

basicDB["pa_walk"]

0       1.0
1       1.0
2       0.0
3       0.0
4       NaN
       ...
8953    NaN
8954    NaN
8955    1.0
8956    0.0
8957    NaN
Name: pa_walk, Length: 29235, dtype: float64

In [52]:
# 흡연 - 과거흡연자 흡연기간 (월)

basicDB["BS6_2_2"]

0       88.0
1       88.0
2       88.0
3       88.0
4        NaN
        ...
8953    88.0
8954    88.0
8955     0.0
8956    88.0
8957    88.0
Name: BS6_2_2, Length: 29235, dtype: float64

In [53]:

basicDB["BD1_11"]

0       5.0
1       8.0
2       8.0
3       1.0
4       8.0
       ...
8953    8.0
8954    8.0
8955    4.0
8956    4.0
8957    8.0
Name: BD1_11, Length: 29235, dtype: float64

In [58]:
basicDB["F_BEEF"]

0       2.0
1       2.0
2       NaN
3       5.0
4       4.0
       ...
8953    NaN
8954    NaN
8955    NaN
8956    3.0
8957    4.0
Name: F_BEEF, Length: 29235, dtype: float64

##### 2022.03.03 ~ 20년도 데이터 추가

In [6]:
hn19_all = pd.read_sas('D:\\국민건강영양조사\\1998-2019 기본DB\\hn19_all.sas7bdat', format='sas7bdat')
hn19_all

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,LF_S10,LF_S11,LF_S12,LF_S13,LF_S14,LF_S14_1,LF_S15,LF_S16,LF_SECUR,LF_SECUR_G
0,b'2021.02.26.',b'A501215301',b'A5012153',2019.0,1.0,1.0,1.0,b'A501',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2021.02.26.',b'A501215303',b'A5012153',2019.0,1.0,1.0,1.0,b'A501',1.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2021.02.26.',b'A501220401',b'A5012204',2019.0,1.0,1.0,1.0,b'A501',1.0,53.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
3,b'2021.02.26.',b'A501220402',b'A5012204',2019.0,1.0,1.0,1.0,b'A501',2.0,50.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
4,b'2021.02.26.',b'A501220403',b'A5012204',2019.0,1.0,1.0,1.0,b'A501',1.0,16.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8105,b'2021.02.26.',b'R504381902',b'R5043819',2019.0,8.0,1.0,2.0,b'R504',2.0,48.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
8106,b'2021.02.26.',b'R504393801',b'R5043938',2019.0,8.0,1.0,2.0,b'R504',1.0,47.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
8107,b'2021.02.26.',b'R504393802',b'R5043938',2019.0,8.0,1.0,2.0,b'R504',2.0,43.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
8108,b'2021.02.26.',b'R504393803',b'R5043938',2019.0,8.0,1.0,2.0,b'R504',2.0,16.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
8109,b'2021.02.26.',b'R504393804',b'R5043938',2019.0,8.0,1.0,2.0,b'R504',1.0,8.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0

In [7]:
hn20_all = pd.read_sas('D:\\국민건강영양조사\\1998-2019 기본DB\\hn20_all.sas7bdat', format='sas7bdat')
hn20_all

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,LF_S10,LF_S11,LF_S12,LF_S13,LF_S14,LF_S14_1,LF_S15,LF_S16,LF_SECUR,LF_SECUR_G
0,b'2022.02.28.',b'A801169401',b'A8011694',2020.0,1.0,1.0,2.0,b'A801',1.0,39.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
1,b'2022.02.28.',b'A801169402',b'A8011694',2020.0,1.0,1.0,2.0,b'A801',2.0,39.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
2,b'2022.02.28.',b'A801169403',b'A8011694',2020.0,1.0,1.0,2.0,b'A801',1.0,10.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
3,b'2022.02.28.',b'A801169404',b'A8011694',2020.0,1.0,1.0,2.0,b'A801',1.0,7.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
4,b'2022.02.28.',b'A801169405',b'A8011694',2020.0,1.0,1.0,2.0,b'A801',1.0,4.0,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7354,b'2022.02.28.',b'R804366601',b'R8043666',2020.0,8.0,1.0,2.0,b'R804',2.0,61.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
7355,b'2022.02.28.',b'R804368301',b'R8043683',2020.0,8.0,1.0,2.0,b'R804',2.0,51.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
7356,b'2022.02.28.',b'R804368302',b'R8043683',2020.0,8.0,1.0,2.0,b'R804',2.0,24.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
7357,b'2022.02.28.',b'R804371701',b'R8043717',2020.0,8.0,1.0,2.0,b'R804',1.0,65.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
7358,b'2022.02.28.',b'R804371702',b'R8043717',2020.0,8.0,1.0,2.0,b'R804',2.0,57.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0

In [9]:
col19 = hn19_all.columns.tolist()
col20 = hn20_all.columns.tolist()

In [11]:
col19 = set(col19)
col20 = set(col20)

In [12]:
col20 - col19

{'BP17_2',
 'BP17_3',
 'BP17_4',
 'BP_PHQ_1',
 'BP_PHQ_2',
 'BP_PHQ_3',
 'BP_PHQ_4',
 'BP_PHQ_5',
 'BP_PHQ_6',
 'BP_PHQ_7',
 'BP_PHQ_8',
 'BP_PHQ_9',
 'BS12_47_4',
 'BS12_47_5',
 'DA_CAFFEINE',
 'DA_COFFEE',
 'DA_CWATER',
 'DA_FVJUICE',
 'DA_MILK',
 'DA_SCOFFEE',
 'DA_SFVJUICE',
 'DA_SMILK',
 'DA_SODA',
 'DA_SPORTS',
 'DA_STEA',
 'DA_TEA',
 'DA_YOGURT',
 'DC12_ag',
 'DC12_dg',
 'DC12_pr',
 'DC12_pt',
 'DC12_tp',
 'DQ_CAFFEINE',
 'DQ_COFFEE',
 'DQ_CWATER',
 'DQ_FVJUICE',
 'DQ_MILK',
 'DQ_SCOFFEE',
 'DQ_SFVJUICE',
 'DQ_SMILK',
 'DQ_SODA',
 'DQ_SPORTS',
 'DQ_STEA',
 'DQ_TEA',
 'DQ_YOGURT',
 'HE_PLS_30',
 'HE_UNa',
 'HE_Ucot',
 'HE_Ucot_etc',
 'ID_F',
 'ID_M',
 'MO4_17_1',
 'MO4_17_2',
 'T_HL_mild',
 'T_HL_mod',
 'T_HR1000_LT',
 'T_HR1000_RT',
 'T_HR1000_pass',
 'T_HR2000_LT',
 'T_HR2000_RT',
 'T_HR2000_pass',
 'T_HR4000_LT',
 'T_HR4000_RT',
 'T_HR4000_pass',
 'T_HR500_LT',
 'T_HR500_RT',
 'T_HR500_pass',
 'T_HR8000_LT',
 'T_HR8000_RT',
 'T_HR_EX_L',
 'T_HR_EX_L_1',
 'T_HR_EX_L_2',
 'T_HR_EX_R',
 'T_HR_EX_R_1',
 'T_HR_EX_R_2',
 'T_IM_A_L',
 'T_IM_A_R',
 'T_IM_B_L',
 'T_IM_B_R',
 'T_IM_C_L',
 'T_IM_C_R',
 'T_IM_EX_L',
 'T_IM_EX_L_1',
 'T_IM_EX_L_2',
 'T_IM_EX_R',
 'T_IM_EX_R_1',
 'T_IM_EX_R_2',
 'T_IM_FL_L',
 'T_IM_FL_R',
 'T_NQ_OCP',
 'T_Q_ALLE',
 'T_Q_CR',
 'T_Q_CR1',
 'T_Q_CR2',
 'T_Q_CR3',
 'T_Q_CR4',
 'T_Q_DZ',
 'T_Q_DZ2',
 'T_Q_DZ3',
 'T_Q_DZ4',
 'T_Q_DZ5',
 'T_Q_DZ6',
 'T_Q_DZ7',
 'T_Q_HR',
 'T_Q_HR_1',
 'T_Q_HR_2',
 'T_Q_SINU',
 'T_Q_SINU_1',
 'T_Q_SNST1',
 'T_Q_SNST2',
 'T_Q_SNST3',
 'T_Q_SNST4',
 'T_Q_VC',
 'T_Q_VC1',
 'T_Q_VN',
 'T_Q_VN_1',
 'T_Q_VN_2',
 'T_Tymp_Dis',
 'T_ex',
 'mh_PHQ_S'}

In [14]:
len(col19.intersection(col20))

632