In [2]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm
import sklearn
from sklearn import linear_model
import scipy.stats as stats
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from patsy import dmatrices
from sklearn.model_selection import train_test_split

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

# 한글 폰트 설정
if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

In [3]:
final = pd.read_csv('MME_final.csv', encoding = 'euc-kr', low_memory = False)
final

,기수,NIHID,SEX,VISITALL,PHYSTB,PHYSIT,PHYACTL,PHYACTM,PHYACTH,AEROBFQ,...,FMCDMAG,FMHEA,FMFHEA,FMFHEAAG,FMMHEA,FMMHEAAG,FMBHEA,FMBHEAAG,FMCHEA,FMCHEAAG
0,A01,NIH1604000095,2,6,1,5,7,6,4,99999,...,66666,1,1,77777,1,77777,1,77777,66666,66666
1,A01,NIH1604000171,1,7,0,3,8,8,0,99999,...,66666,1,1,77777,1,77777,1,77777,66666,66666
2,A01,NIH1604000338,1,7,2,5,3,0,7,99999,...,66666,1,1,77777,1,77777,1,77777,66666,66666
3,A01,NIH1604000362,2,7,0,5,4,2,2,99999,...,66666,1,1,77777,1,77777,1,77777,66666,66666
4,A01,NIH1604000424,1,4,8,5,8,8,0,99999,...,66666,1,1,77777,1,77777,1,77777,66666,66666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,NIH1604999643,2,7,66666,66666,66666,66666,66666,66666,...,77777,1,1,77777,1,77777,1,77777,1,77777
70206,A07,NIH1604999732,1,6,66666,66666,66666,66666,66666,66666,...,77777,1,1,77777,1,77777,1,77777,1,77777
70207,A07,NIH1604999772,1,6,66666,66666,66666,66666,66666,66666,...,77777,1,1,77777,1,77777,1,77777,1,77777
70208,A07,NIH1604999929,2,4,66666,66666,66666,66666,66666,66666,...,77777,1,1,77777,1,77777,1,77777,1,77777
70209,A07,NIH1604999956,1,1,55555,55555,55555,55555,55555,55555,...,55555,55555,55555,55555,55555,55555,55555,55555,55555,55555

In [4]:
tmp = final.copy()
tmp

,기수,NIHID,SEX,VISITALL,PHYSTB,PHYSIT,PHYACTL,PHYACTM,PHYACTH,AEROBFQ,...,FMCDMAG,FMHEA,FMFHEA,FMFHEAAG,FMMHEA,FMMHEAAG,FMBHEA,FMBHEAAG,FMCHEA,FMCHEAAG
0,A01,NIH1604000095,2,6,1,5,7,6,4,99999,...,66666,1,1,77777,1,77777,1,77777,66666,66666
1,A01,NIH1604000171,1,7,0,3,8,8,0,99999,...,66666,1,1,77777,1,77777,1,77777,66666,66666
2,A01,NIH1604000338,1,7,2,5,3,0,7,99999,...,66666,1,1,77777,1,77777,1,77777,66666,66666
3,A01,NIH1604000362,2,7,0,5,4,2,2,99999,...,66666,1,1,77777,1,77777,1,77777,66666,66666
4,A01,NIH1604000424,1,4,8,5,8,8,0,99999,...,66666,1,1,77777,1,77777,1,77777,66666,66666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,NIH1604999643,2,7,66666,66666,66666,66666,66666,66666,...,77777,1,1,77777,1,77777,1,77777,1,77777
70206,A07,NIH1604999732,1,6,66666,66666,66666,66666,66666,66666,...,77777,1,1,77777,1,77777,1,77777,1,77777
70207,A07,NIH1604999772,1,6,66666,66666,66666,66666,66666,66666,...,77777,1,1,77777,1,77777,1,77777,1,77777
70208,A07,NIH1604999929,2,4,66666,66666,66666,66666,66666,66666,...,77777,1,1,77777,1,77777,1,77777,1,77777
70209,A07,NIH1604999956,1,1,55555,55555,55555,55555,55555,55555,...,55555,55555,55555,55555,55555,55555,55555,55555,55555,55555

In [5]:
col = tmp.columns

In [6]:
# 55555 ~ 99999 전부 NaN으로 대체
tmp = tmp[tmp[col] != 55555]

tmp = tmp[tmp[col] != 66666]

tmp = tmp[tmp[col] != 77777]

tmp = tmp[tmp[col] != 88888]

tmp = tmp[tmp[col] != 99999]

In [7]:
tmp

,기수,NIHID,SEX,VISITALL,PHYSTB,PHYSIT,PHYACTL,PHYACTM,PHYACTH,AEROBFQ,...,FMCDMAG,FMHEA,FMFHEA,FMFHEAAG,FMMHEA,FMMHEAAG,FMBHEA,FMBHEAAG,FMCHEA,FMCHEAAG
0,A01,NIH1604000095,2,6,1.0,5.0,7.0,6.0,4.0,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN
1,A01,NIH1604000171,1,7,0.0,3.0,8.0,8.0,0.0,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN
2,A01,NIH1604000338,1,7,2.0,5.0,3.0,0.0,7.0,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN
3,A01,NIH1604000362,2,7,0.0,5.0,4.0,2.0,2.0,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN
4,A01,NIH1604000424,1,4,8.0,5.0,8.0,8.0,0.0,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,NIH1604999643,2,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
70206,A07,NIH1604999732,1,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
70207,A07,NIH1604999772,1,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
70208,A07,NIH1604999929,2,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
70209,A07,NIH1604999956,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
weight_cycle_col = ['기수', 'NIHID', 'EDATE', 'SEX', 'VISITALL', 'AGE', 'WEIGHT', 'HEIGHT', 
                   'WAIST', 'BODYFAT', 'TCHL_ORI', 'SMOKE', 'SBP_L', 'SBP_R', 
                   'CREATININ_TR', 'CREATININ_ORI']
tmp = tmp[weight_cycle_col]
tmp

,기수,NIHID,EDATE,SEX,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,SMOKE,SBP_L,SBP_R,CREATININ_TR,CREATININ_ORI
0,A01,NIH1604000095,200209.0,2,6,43.0,48.0,157.5,63.0,13.4,200.0,1.0,98.0,94.0,0.90,0.90
1,A01,NIH1604000171,200201.0,1,7,42.0,75.0,175.5,81.3,15.7,215.0,3.0,110.0,80.0,1.00,1.00
2,A01,NIH1604000338,200210.0,1,7,69.0,50.4,166.8,74.0,NaN,200.0,2.0,138.0,138.0,0.90,0.90
3,A01,NIH1604000362,200201.0,2,7,48.0,53.6,155.6,76.4,14.7,213.0,1.0,104.0,100.0,0.70,0.60
4,A01,NIH1604000424,200205.0,1,4,47.0,88.0,174.5,94.5,19.5,128.0,3.0,132.0,130.0,0.70,0.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,NIH1604999643,201303.0,2,7,55.0,60.9,164.1,74.0,17.9,247.0,1.0,90.0,94.0,0.88,0.86
70206,A07,NIH1604999732,201407.0,1,6,75.0,50.8,163.2,81.3,10.5,122.0,2.0,134.0,128.0,1.06,1.02
70207,A07,NIH1604999772,201409.0,1,6,55.0,66.2,163.5,88.3,13.9,189.0,2.0,NaN,150.0,1.54,1.45
70208,A07,NIH1604999929,201403.0,2,4,53.0,63.2,153.0,85.3,27.1,236.0,1.0,110.0,114.0,0.89,0.87
70209,A07,NIH1604999956,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
tmp['CREA_ADJUSTED'] = 0.0

for idx in range(len(tmp)): 
    if tmp['기수'][idx] == 'A01' or tmp['기수'][idx] == 'A06' or tmp['기수'][idx] == 'A07': 
        tmp['CREA_ADJUSTED'][idx] = tmp['CREATININ_TR'][idx]
    else: 
        tmp['CREA_ADJUSTED'][idx] = tmp['CREATININ_ORI'][idx]

<ipython-input-9-de25005d30a9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['CREA_ADJUSTED'] = 0.0
<ipython-input-9-de25005d30a9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['CREA_ADJUSTED'][idx] = tmp['CREATININ_TR'][idx]
C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-9-de25005d30a9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['CREA_ADJUSTED'][idx] = tmp['CREATININ_ORI'][idx]

In [10]:
tmp.isna().sum()

기수                   0
NIHID                0
EDATE            18565
SEX                  0
VISITALL             0
AGE              18565
WEIGHT           18820
HEIGHT           18809
WAIST            18792
BODYFAT          22736
TCHL_ORI         18716
SMOKE            18752
SBP_L            18813
SBP_R            18804
CREATININ_TR     48038
CREATININ_ORI    20927
CREA_ADJUSTED    20927
dtype: int64

In [11]:
# CREA_ADJUSTED 계산했으니 CREATININ_TR, CREATININ_ORI 열 drop
tmp.drop(['CREATININ_TR', 'CREATININ_ORI'], axis = 1, inplace = True)
tmp

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,기수,NIHID,EDATE,SEX,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,SMOKE,SBP_L,SBP_R,CREA_ADJUSTED
0,A01,NIH1604000095,200209.0,2,6,43.0,48.0,157.5,63.0,13.4,200.0,1.0,98.0,94.0,0.90
1,A01,NIH1604000171,200201.0,1,7,42.0,75.0,175.5,81.3,15.7,215.0,3.0,110.0,80.0,1.00
2,A01,NIH1604000338,200210.0,1,7,69.0,50.4,166.8,74.0,NaN,200.0,2.0,138.0,138.0,0.90
3,A01,NIH1604000362,200201.0,2,7,48.0,53.6,155.6,76.4,14.7,213.0,1.0,104.0,100.0,0.70
4,A01,NIH1604000424,200205.0,1,4,47.0,88.0,174.5,94.5,19.5,128.0,3.0,132.0,130.0,0.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,NIH1604999643,201303.0,2,7,55.0,60.9,164.1,74.0,17.9,247.0,1.0,90.0,94.0,0.88
70206,A07,NIH1604999732,201407.0,1,6,75.0,50.8,163.2,81.3,10.5,122.0,2.0,134.0,128.0,1.06
70207,A07,NIH1604999772,201409.0,1,6,55.0,66.2,163.5,88.3,13.9,189.0,2.0,NaN,150.0,1.54
70208,A07,NIH1604999929,201403.0,2,4,53.0,63.2,153.0,85.3,27.1,236.0,1.0,110.0,114.0,0.89
70209,A07,NIH1604999956,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# tmp = 전체 70210개 중 쓸 칼럼만 뽑은 df

tmp2 = tmp.copy()

In [13]:
# tmp2 = tmp 전체에서 null값 다 없앤 df

tmp2 = tmp2.dropna().reset_index(drop = True)
tmp2

,기수,NIHID,EDATE,SEX,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,SMOKE,SBP_L,SBP_R,CREA_ADJUSTED
0,A01,NIH1604000095,200209.0,2,6,43.0,48.0,157.5,63.0,13.4,200.0,1.0,98.0,94.0,0.90
1,A01,NIH1604000171,200201.0,1,7,42.0,75.0,175.5,81.3,15.7,215.0,3.0,110.0,80.0,1.00
2,A01,NIH1604000362,200201.0,2,7,48.0,53.6,155.6,76.4,14.7,213.0,1.0,104.0,100.0,0.70
3,A01,NIH1604000424,200205.0,1,4,47.0,88.0,174.5,94.5,19.5,128.0,3.0,132.0,130.0,0.70
4,A01,NIH1604000472,200201.0,2,5,68.0,68.8,154.7,104.0,23.4,200.0,1.0,120.0,120.0,1.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45651,A07,NIH1604999446,201311.0,2,6,55.0,75.4,162.0,87.4,27.3,189.0,1.0,120.0,124.0,0.98
45652,A07,NIH1604999640,201305.0,2,7,55.0,56.6,159.1,77.0,12.9,178.0,1.0,98.0,96.0,0.90
45653,A07,NIH1604999643,201303.0,2,7,55.0,60.9,164.1,74.0,17.9,247.0,1.0,90.0,94.0,0.88
45654,A07,NIH1604999732,201407.0,1,6,75.0,50.8,163.2,81.3,10.5,122.0,2.0,134.0,128.0,1.06
45655,A07,NIH1604999929,201403.0,2,4,53.0,63.2,153.0,85.3,27.1,236.0,1.0,110.0,114.0,0.89

In [14]:
# onehot encoding

dummy_cols = ['SMOKE', 'SEX']
tmp2 = pd.get_dummies(tmp2, columns = dummy_cols)
tmp2

,기수,NIHID,EDATE,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,SBP_L,SBP_R,CREA_ADJUSTED,SMOKE_1.0,SMOKE_2.0,SMOKE_3.0,SEX_1,SEX_2
0,A01,NIH1604000095,200209.0,6,43.0,48.0,157.5,63.0,13.4,200.0,98.0,94.0,0.90,1,0,0,0,1
1,A01,NIH1604000171,200201.0,7,42.0,75.0,175.5,81.3,15.7,215.0,110.0,80.0,1.00,0,0,1,1,0
2,A01,NIH1604000362,200201.0,7,48.0,53.6,155.6,76.4,14.7,213.0,104.0,100.0,0.70,1,0,0,0,1
3,A01,NIH1604000424,200205.0,4,47.0,88.0,174.5,94.5,19.5,128.0,132.0,130.0,0.70,0,0,1,1,0
4,A01,NIH1604000472,200201.0,5,68.0,68.8,154.7,104.0,23.4,200.0,120.0,120.0,1.20,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45651,A07,NIH1604999446,201311.0,6,55.0,75.4,162.0,87.4,27.3,189.0,120.0,124.0,0.98,1,0,0,0,1
45652,A07,NIH1604999640,201305.0,7,55.0,56.6,159.1,77.0,12.9,178.0,98.0,96.0,0.90,1,0,0,0,1
45653,A07,NIH1604999643,201303.0,7,55.0,60.9,164.1,74.0,17.9,247.0,90.0,94.0,0.88,1,0,0,0,1
45654,A07,NIH1604999732,201407.0,6,75.0,50.8,163.2,81.3,10.5,122.0,134.0,128.0,1.06,0,1,0,1,0
45655,A07,NIH1604999929,201403.0,4,53.0,63.2,153.0,85.3,27.1,236.0,110.0,114.0,0.89,1,0,0,0,1

In [17]:
# SBP, DBP 평균값으로 대체 후 L, R열 drop

tmp2['SBP'] = (tmp2['SBP_L'] + tmp2['SBP_R']) / 2.0
tmp2.drop(['SBP_L', 'SBP_R'], axis = 1, inplace = True)

In [18]:
tmp2

,기수,NIHID,EDATE,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,CREA_ADJUSTED,SMOKE_1.0,SMOKE_2.0,SMOKE_3.0,SEX_1,SEX_2,SBP
0,A01,NIH1604000095,200209.0,6,43.0,48.0,157.5,63.0,13.4,200.0,0.90,1,0,0,0,1,96.0
1,A01,NIH1604000171,200201.0,7,42.0,75.0,175.5,81.3,15.7,215.0,1.00,0,0,1,1,0,95.0
2,A01,NIH1604000362,200201.0,7,48.0,53.6,155.6,76.4,14.7,213.0,0.70,1,0,0,0,1,102.0
3,A01,NIH1604000424,200205.0,4,47.0,88.0,174.5,94.5,19.5,128.0,0.70,0,0,1,1,0,131.0
4,A01,NIH1604000472,200201.0,5,68.0,68.8,154.7,104.0,23.4,200.0,1.20,1,0,0,0,1,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45651,A07,NIH1604999446,201311.0,6,55.0,75.4,162.0,87.4,27.3,189.0,0.98,1,0,0,0,1,122.0
45652,A07,NIH1604999640,201305.0,7,55.0,56.6,159.1,77.0,12.9,178.0,0.90,1,0,0,0,1,97.0
45653,A07,NIH1604999643,201303.0,7,55.0,60.9,164.1,74.0,17.9,247.0,0.88,1,0,0,0,1,92.0
45654,A07,NIH1604999732,201407.0,6,75.0,50.8,163.2,81.3,10.5,122.0,1.06,0,1,0,1,0,131.0
45655,A07,NIH1604999929,201403.0,4,53.0,63.2,153.0,85.3,27.1,236.0,0.89,1,0,0,0,1,112.0

In [19]:
# BODYFAT 단위 맞추기

tmp2['BODYFAT'] = tmp2['BODYFAT'] * 1000
tmp2

,기수,NIHID,EDATE,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,CREA_ADJUSTED,SMOKE_1.0,SMOKE_2.0,SMOKE_3.0,SEX_1,SEX_2,SBP
0,A01,NIH1604000095,200209.0,6,43.0,48.0,157.5,63.0,13400.0,200.0,0.90,1,0,0,0,1,96.0
1,A01,NIH1604000171,200201.0,7,42.0,75.0,175.5,81.3,15700.0,215.0,1.00,0,0,1,1,0,95.0
2,A01,NIH1604000362,200201.0,7,48.0,53.6,155.6,76.4,14700.0,213.0,0.70,1,0,0,0,1,102.0
3,A01,NIH1604000424,200205.0,4,47.0,88.0,174.5,94.5,19500.0,128.0,0.70,0,0,1,1,0,131.0
4,A01,NIH1604000472,200201.0,5,68.0,68.8,154.7,104.0,23400.0,200.0,1.20,1,0,0,0,1,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45651,A07,NIH1604999446,201311.0,6,55.0,75.4,162.0,87.4,27300.0,189.0,0.98,1,0,0,0,1,122.0
45652,A07,NIH1604999640,201305.0,7,55.0,56.6,159.1,77.0,12900.0,178.0,0.90,1,0,0,0,1,97.0
45653,A07,NIH1604999643,201303.0,7,55.0,60.9,164.1,74.0,17900.0,247.0,0.88,1,0,0,0,1,92.0
45654,A07,NIH1604999732,201407.0,6,75.0,50.8,163.2,81.3,10500.0,122.0,1.06,0,1,0,1,0,131.0
45655,A07,NIH1604999929,201403.0,4,53.0,63.2,153.0,85.3,27100.0,236.0,0.89,1,0,0,0,1,112.0

In [22]:
# BODYFAT 0 이하인 사람 자르기

tmp2 = tmp2.loc[tmp2['BODYFAT'] >= 0].reset_index(drop = True)

In [23]:
tmp2

,기수,NIHID,EDATE,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,CREA_ADJUSTED,SMOKE_1.0,SMOKE_2.0,SMOKE_3.0,SEX_1,SEX_2,SBP
0,A01,NIH1604000095,200209.0,6,43.0,48.0,157.5,63.0,13400.0,200.0,0.90,1,0,0,0,1,96.0
1,A01,NIH1604000171,200201.0,7,42.0,75.0,175.5,81.3,15700.0,215.0,1.00,0,0,1,1,0,95.0
2,A01,NIH1604000362,200201.0,7,48.0,53.6,155.6,76.4,14700.0,213.0,0.70,1,0,0,0,1,102.0
3,A01,NIH1604000424,200205.0,4,47.0,88.0,174.5,94.5,19500.0,128.0,0.70,0,0,1,1,0,131.0
4,A01,NIH1604000472,200201.0,5,68.0,68.8,154.7,104.0,23400.0,200.0,1.20,1,0,0,0,1,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45647,A07,NIH1604999446,201311.0,6,55.0,75.4,162.0,87.4,27300.0,189.0,0.98,1,0,0,0,1,122.0
45648,A07,NIH1604999640,201305.0,7,55.0,56.6,159.1,77.0,12900.0,178.0,0.90,1,0,0,0,1,97.0
45649,A07,NIH1604999643,201303.0,7,55.0,60.9,164.1,74.0,17900.0,247.0,0.88,1,0,0,0,1,92.0
45650,A07,NIH1604999732,201407.0,6,75.0,50.8,163.2,81.3,10500.0,122.0,1.06,0,1,0,1,0,131.0
45651,A07,NIH1604999929,201403.0,4,53.0,63.2,153.0,85.3,27100.0,236.0,0.89,1,0,0,0,1,112.0

In [25]:
tmp2

,기수,NIHID,EDATE,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,CREA_ADJUSTED,SMOKE_1.0,SMOKE_2.0,SMOKE_3.0,SEX_1,SEX_2,SBP
0,A01,NIH1604000095,200209.0,6,43.0,48.0,157.5,63.0,13400.0,200.0,0.90,1,0,0,0,1,96.0
1,A01,NIH1604000171,200201.0,7,42.0,75.0,175.5,81.3,15700.0,215.0,1.00,0,0,1,1,0,95.0
2,A01,NIH1604000362,200201.0,7,48.0,53.6,155.6,76.4,14700.0,213.0,0.70,1,0,0,0,1,102.0
3,A01,NIH1604000424,200205.0,4,47.0,88.0,174.5,94.5,19500.0,128.0,0.70,0,0,1,1,0,131.0
4,A01,NIH1604000472,200201.0,5,68.0,68.8,154.7,104.0,23400.0,200.0,1.20,1,0,0,0,1,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45647,A07,NIH1604999446,201311.0,6,55.0,75.4,162.0,87.4,27300.0,189.0,0.98,1,0,0,0,1,122.0
45648,A07,NIH1604999640,201305.0,7,55.0,56.6,159.1,77.0,12900.0,178.0,0.90,1,0,0,0,1,97.0
45649,A07,NIH1604999643,201303.0,7,55.0,60.9,164.1,74.0,17900.0,247.0,0.88,1,0,0,0,1,92.0
45650,A07,NIH1604999732,201407.0,6,75.0,50.8,163.2,81.3,10500.0,122.0,1.06,0,1,0,1,0,131.0
45651,A07,NIH1604999929,201403.0,4,53.0,63.2,153.0,85.3,27100.0,236.0,0.89,1,0,0,0,1,112.0

In [28]:
tmp2['WEIGHT'] = tmp2['WEIGHT'] * 1000
tmp2

,기수,NIHID,EDATE,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,CREA_ADJUSTED,SMOKE_1.0,SMOKE_2.0,SMOKE_3.0,SEX_1,SEX_2,SBP,LBM
0,A01,NIH1604000095,200209.0,6,43.0,48000.0,157.5,63.0,13400.0,200.0,0.90,1,0,0,0,1,96.0,34600.0
1,A01,NIH1604000171,200201.0,7,42.0,75000.0,175.5,81.3,15700.0,215.0,1.00,0,0,1,1,0,95.0,59300.0
2,A01,NIH1604000362,200201.0,7,48.0,53600.0,155.6,76.4,14700.0,213.0,0.70,1,0,0,0,1,102.0,38900.0
3,A01,NIH1604000424,200205.0,4,47.0,88000.0,174.5,94.5,19500.0,128.0,0.70,0,0,1,1,0,131.0,68500.0
4,A01,NIH1604000472,200201.0,5,68.0,68800.0,154.7,104.0,23400.0,200.0,1.20,1,0,0,0,1,120.0,45400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45647,A07,NIH1604999446,201311.0,6,55.0,75400.0,162.0,87.4,27300.0,189.0,0.98,1,0,0,0,1,122.0,48100.0
45648,A07,NIH1604999640,201305.0,7,55.0,56600.0,159.1,77.0,12900.0,178.0,0.90,1,0,0,0,1,97.0,43700.0
45649,A07,NIH1604999643,201303.0,7,55.0,60900.0,164.1,74.0,17900.0,247.0,0.88,1,0,0,0,1,92.0,43000.0
45650,A07,NIH1604999732,201407.0,6,75.0,50800.0,163.2,81.3,10500.0,122.0,1.06,0,1,0,1,0,131.0,40300.0
45651,A07,NIH1604999929,201403.0,4,53.0,63200.0,153.0,85.3,27100.0,236.0,0.89,1,0,0,0,1,112.0,36100.0

In [29]:
tmp2['LBM'] = tmp2['WEIGHT'] - tmp2['BODYFAT']
tmp2

,기수,NIHID,EDATE,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,CREA_ADJUSTED,SMOKE_1.0,SMOKE_2.0,SMOKE_3.0,SEX_1,SEX_2,SBP,LBM
0,A01,NIH1604000095,200209.0,6,43.0,48000.0,157.5,63.0,13400.0,200.0,0.90,1,0,0,0,1,96.0,34600.0
1,A01,NIH1604000171,200201.0,7,42.0,75000.0,175.5,81.3,15700.0,215.0,1.00,0,0,1,1,0,95.0,59300.0
2,A01,NIH1604000362,200201.0,7,48.0,53600.0,155.6,76.4,14700.0,213.0,0.70,1,0,0,0,1,102.0,38900.0
3,A01,NIH1604000424,200205.0,4,47.0,88000.0,174.5,94.5,19500.0,128.0,0.70,0,0,1,1,0,131.0,68500.0
4,A01,NIH1604000472,200201.0,5,68.0,68800.0,154.7,104.0,23400.0,200.0,1.20,1,0,0,0,1,120.0,45400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45647,A07,NIH1604999446,201311.0,6,55.0,75400.0,162.0,87.4,27300.0,189.0,0.98,1,0,0,0,1,122.0,48100.0
45648,A07,NIH1604999640,201305.0,7,55.0,56600.0,159.1,77.0,12900.0,178.0,0.90,1,0,0,0,1,97.0,43700.0
45649,A07,NIH1604999643,201303.0,7,55.0,60900.0,164.1,74.0,17900.0,247.0,0.88,1,0,0,0,1,92.0,43000.0
45650,A07,NIH1604999732,201407.0,6,75.0,50800.0,163.2,81.3,10500.0,122.0,1.06,0,1,0,1,0,131.0,40300.0
45651,A07,NIH1604999929,201403.0,4,53.0,63200.0,153.0,85.3,27100.0,236.0,0.89,1,0,0,0,1,112.0,36100.0

In [30]:
tmp2.to_csv('MME_preprocessed_eGFR.csv', encoding = 'euc-kr', index = False)

In [15]:
# 7번 모두 참여한 사람만 뽑기

tmp2 = tmp2.loc[tmp2['VISITALL'] == 7]
tmp2

,기수,NIHID,EDATE,SEX,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,SMOKE,SBP_L,SBP_R,IB1_3,CREA_ADJUSTED
1,A01,NIH1604000171,200201.0,1,7,42.0,75.0,175.5,81.3,15.7,215.0,3.0,110.0,80.0,55.3,1.00
2,A01,NIH1604000362,200201.0,2,7,48.0,53.6,155.6,76.4,14.7,213.0,1.0,104.0,100.0,36.6,0.70
7,A01,NIH1604001298,200208.0,2,7,65.0,49.6,151.2,80.0,12.8,176.0,1.0,100.0,104.0,34.7,0.90
8,A01,NIH1604001304,200112.0,1,7,47.0,68.0,163.0,87.0,16.0,157.0,3.0,102.0,102.0,50.0,0.70
9,A01,NIH1604001317,200209.0,2,7,43.0,50.0,153.5,70.0,14.3,209.0,1.0,88.0,90.0,33.9,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45646,A07,NIH1604998438,201409.0,2,7,56.0,46.5,144.8,75.3,15.3,198.0,1.0,126.0,126.0,29.7,0.67
45647,A07,NIH1604998576,201405.0,1,7,63.0,59.6,166.7,76.3,14.0,181.0,1.0,110.0,102.0,43.1,1.00
45648,A07,NIH1604998886,201305.0,1,7,62.0,73.7,169.2,91.6,18.3,237.0,1.0,116.0,110.0,52.8,1.16
45652,A07,NIH1604999640,201305.0,2,7,55.0,56.6,159.1,77.0,12.9,178.0,1.0,98.0,96.0,41.3,0.90
45653,A07,NIH1604999643,201303.0,2,7,55.0,60.9,164.1,74.0,17.9,247.0,1.0,90.0,94.0,40.7,0.88

In [132]:
len(tmp2['NIHID'].unique())

4437

In [133]:
test = tmp2.sort_values(by=['NIHID', '기수']).reset_index(drop = True)
test

,기수,NIHID,EDATE,SEX,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,SMOKE,SBP_L,SBP_R,CREA_ADJUSTED
0,A01,NIH1604000171,200201.0,1,7,42.0,75.0,175.5,81.3,15.7,215.0,3.0,110.0,80.0,1.00
1,A03,NIH1604000171,200510.0,1,7,46.0,75.5,175.6,85.0,15.9,174.0,3.0,134.0,128.0,0.92
2,A04,NIH1604000171,200712.0,1,7,48.0,75.5,176.0,81.0,17.4,206.0,3.0,130.0,132.0,0.92
3,A05,NIH1604000171,200911.0,1,7,50.0,79.8,175.5,85.9,19.3,194.0,2.0,126.0,126.0,0.92
4,A06,NIH1604000171,201110.0,1,7,52.0,80.7,175.2,86.0,19.7,180.0,2.0,110.0,110.0,0.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28254,A03,NIH1604999643,200601.0,2,7,47.0,62.2,164.7,74.0,18.3,227.0,1.0,90.0,90.0,0.94
28255,A04,NIH1604999643,200711.0,2,7,49.0,60.3,164.8,67.1,15.6,222.0,1.0,86.0,94.0,0.92
28256,A05,NIH1604999643,200909.0,2,7,51.0,60.1,165.0,70.2,16.7,219.0,1.0,88.0,90.0,0.84
28257,A06,NIH1604999643,201107.0,2,7,53.0,59.8,164.5,68.1,15.6,265.0,1.0,94.0,96.0,0.87
28258,A07,NIH1604999643,201303.0,2,7,55.0,60.9,164.1,74.0,17.9,247.0,1.0,90.0,94.0,0.88

In [134]:
unique_id = test['NIHID'].unique().tolist()
unique_id

['NIH1604000171',
 'NIH1604000338',
 'NIH1604000362',
 'NIH1604001274',
 'NIH1604001298',
 'NIH1604001304',
 'NIH1604001317',
 'NIH1604001328',
 'NIH1604001460',
 'NIH1604001673',
 'NIH1604001830',
 'NIH1604003927',
 'NIH1604004091',
 'NIH1604004418',
 'NIH1604004676',
 'NIH1604004884',
 'NIH1604004915',
 'NIH1604004957',
 'NIH1604004989',
 'NIH1604005159',
 'NIH1604005845',
 'NIH1604006512',
 'NIH1604006629',
 'NIH1604006772',
 'NIH1604007165',
 'NIH1604007305',
 'NIH1604007653',
 'NIH1604007858',
 'NIH1604007875',
 'NIH1604007969',
 'NIH1604007972',
 'NIH1604008817',
 'NIH1604009016',
 'NIH1604009230',
 'NIH1604009453',
 'NIH1604009615',
 'NIH1604009656',
 'NIH1604009672',
 'NIH1604009888',
 'NIH1604010012',
 'NIH1604010156',
 'NIH1604010423',
 'NIH1604010641',
 'NIH1604011192',
 'NIH1604011703',
 'NIH1604012036',
 'NIH1604012038',
 'NIH1604012288',
 'NIH1604012392',
 'NIH1604012646',
 'NIH1604012767',
 'NIH1604013399',
 'NIH1604013930',
 'NIH1604013954',
 'NIH1604013996',
 'NIH1604014047',
 'NIH1604014292',
 'NIH1604014533',
 'NIH1604014630',
 'NIH1604014650',
 'NIH1604014685',
 'NIH1604014996',
 'NIH1604015272',
 'NIH1604015768',
 'NIH1604015999',
 'NIH1604016292',
 'NIH1604016354',
 'NIH1604016626',
 'NIH1604016759',
 'NIH1604016769',
 'NIH1604017188',
 'NIH1604018011',
 'NIH1604018425',
 'NIH1604018504',
 'NIH1604018564',
 'NIH1604018586',
 'NIH1604018695',
 'NIH1604018748',
 'NIH1604019239',
 'NIH1604019366',
 'NIH1604019385',
 'NIH1604019433',
 'NIH1604019544',
 'NIH1604019714',
 'NIH1604020059',
 'NIH1604020120',
 'NIH1604020196',
 'NIH1604020318',
 'NIH1604021033',
 'NIH1604021209',
 'NIH1604021403',
 'NIH1604021425',
 'NIH1604021753',
 'NIH1604021920',
 'NIH1604022010',
 'NIH1604022052',
 'NIH1604022443',
 'NIH1604022500',
 'NIH1604022722',
 'NIH1604022731',
 'NIH1604022976',
 'NIH1604023000',
 'NIH1604023106',
 'NIH1604023333',
 'NIH1604023707',
 'NIH1604023728',
 'NIH1604023904',
 'NIH1604023929',
 'NIH1604024419',
 'NIH1604025057',
 'NIH1604025108',
 'NIH1604025445',
 'NIH1604025601',
 'NIH1604025691',
 'NIH1604026104',
 'NIH1604026124',
 'NIH1604026465',
 'NIH1604026555',
 'NIH1604026610',
 'NIH1604026629',
 'NIH1604026969',
 'NIH1604027012',
 'NIH1604027102',
 'NIH1604027423',
 'NIH1604027816',
 'NIH1604027998',
 'NIH1604028043',
 'NIH1604028136',
 'NIH1604028427',
 'NIH1604028547',
 'NIH1604028659',
 'NIH1604028696',
 'NIH1604028757',
 'NIH1604028893',
 'NIH1604029091',
 'NIH1604029348',
 'NIH1604029381',
 'NIH1604029394',
 'NIH1604029409',
 'NIH1604029494',
 'NIH1604029776',
 'NIH1604029961',
 'NIH1604030633',
 'NIH1604030977',
 'NIH1604030985',
 'NIH1604031368',
 'NIH1604031587',
 'NIH1604032131',
 'NIH1604032338',
 'NIH1604032564',
 'NIH1604032991',
 'NIH1604033017',
 'NIH1604033051',
 'NIH1604033173',
 'NIH1604033435',
 'NIH1604033540',
 'NIH1604033746',
 'NIH1604033932',
 'NIH1604034024',
 'NIH1604034963',
 'NIH1604035012',
 'NIH1604035677',
 'NIH1604035710',
 'NIH1604035948',
 'NIH1604036585',
 'NIH1604036826',
 'NIH1604036839',
 'NIH1604038547',
 'NIH1604038799',
 'NIH1604038902',
 'NIH1604039218',
 'NIH1604039328',
 'NIH1604039820',
 'NIH1604039981',
 'NIH1604040484',
 'NIH1604040500',
 'NIH1604040810',
 'NIH1604041116',
 'NIH1604041378',
 'NIH1604041919',
 'NIH1604042121',
 'NIH1604042125',
 'NIH1604042524',
 'NIH1604042560',
 'NIH1604042607',
 'NIH1604042961',
 'NIH1604043288',
 'NIH1604043369',
 'NIH1604044416',
 'NIH1604045055',
 'NIH1604045369',
 'NIH1604045723',
 'NIH1604045762',
 'NIH1604046806',
 'NIH1604046952',
 'NIH1604047204',
 'NIH1604047403',
 'NIH1604047634',
 'NIH1604047913',
 'NIH1604047947',
 'NIH1604047950',
 'NIH1604048007',
 'NIH1604048350',
 'NIH1604048390',
 'NIH1604048424',
 'NIH1604048474',
 'NIH1604048610',
 'NIH1604048770',
 'NIH1604048913',
 'NIH1604049140',
 'NIH1604049344',
 'NIH1604049493',
 'NIH1604050711',
 'NIH1604050911',
 'NIH1604051056',
 'NIH1604051233',
 'NIH1604051294',
 'NIH1604052470',
 'NIH1604052641',
 'NIH1604052836',
 'NIH1604052848',
 'NIH1604052980',
 'NIH1604053074',
 'NIH1604053185',
 'NIH1604053342',
 'NIH1604053455',
 'NIH1604053554',
 'NIH1604053625',
 'NIH1604054199',
 'NIH1604054509',
 'NIH1604055073',
 'NIH1604055555',
 'NIH1604055808',
 'NIH1604055898',
 'NIH1604056431',
 'NIH1604056757',
 'NIH1604057115',
 'NIH1604057566',
 'NIH1604057568',
 'NIH1604057678',
 'NIH1604057917',
 'NIH1604058043',
 'NIH1604058108',
 'NIH1604058295',
 'NIH1604059438',
 'NIH1604060641',
 'NIH1604060734',
 'NIH1604060872',
 'NIH1604060928',
 'NIH1604061027',
 'NIH1604061358',
 'NIH1604061577',
 'NIH1604061713',
 'NIH1604062048',
 'NIH1604062064',
 'NIH1604063397',
 'NIH1604063512',
 'NIH1604063867',
 'NIH1604064161',
 'NIH1604064179',
 'NIH1604064445',
 'NIH1604064519',
 'NIH1604064582',
 'NIH1604064608',
 'NIH1604064980',
 'NIH1604065245',
 'NIH1604065506',
 'NIH1604065515',
 'NIH1604065899',
 'NIH1604066296',
 'NIH1604066327',
 'NIH1604066725',
 'NIH1604066747',
 'NIH1604067268',
 'NIH1604068731',
 'NIH1604069101',
 'NIH1604069216',
 'NIH1604069626',
 'NIH1604069958',
 'NIH1604070125',
 'NIH1604070453',
 'NIH1604070481',
 'NIH1604070745',
 'NIH1604070976',
 'NIH1604071276',
 'NIH1604071279',
 'NIH1604071355',
 'NIH1604071402',
 'NIH1604071434',
 'NIH1604071742',
 'NIH1604071873',
 'NIH1604071961',
 'NIH1604071995',
 'NIH1604072156',
 'NIH1604072690',
 'NIH1604073900',
 'NIH1604073918',
 'NIH1604073921',
 'NIH1604074105',
 'NIH1604074350',
 'NIH1604074385',
 'NIH1604074464',
 'NIH1604074665',
 'NIH1604074895',
 'NIH1604074998',
 'NIH1604075138',
 'NIH1604075177',
 'NIH1604075532',
 'NIH1604075733',
 'NIH1604076227',
 'NIH1604076481',
 'NIH1604076892',
 'NIH1604077134',
 'NIH1604077421',
 'NIH1604077485',
 'NIH1604077549',
 'NIH1604077593',
 'NIH1604077840',
 'NIH1604077887',
 'NIH1604078374',
 'NIH1604078403',
 'NIH1604078840',
 'NIH1604079263',
 'NIH1604079312',
 'NIH1604079467',
 'NIH1604079852',
 'NIH1604079853',
 'NIH1604080519',
 'NIH1604080894',
 'NIH1604080953',
 'NIH1604081506',
 'NIH1604081852',
 'NIH1604081954',
 'NIH1604082462',
 'NIH1604082870',
 'NIH1604083084',
 'NIH1604083215',
 'NIH1604083524',
 'NIH1604083552',
 'NIH1604083686',
 'NIH1604083866',
 'NIH1604084269',
 'NIH1604084957',
 'NIH1604085123',
 'NIH1604085233',
 'NIH1604085369',
 'NIH1604085489',
 'NIH1604085783',
 'NIH1604085859',
 'NIH1604085990',
 'NIH1604086399',
 'NIH1604086858',
 'NIH1604087249',
 'NIH1604087267',
 'NIH1604087381',
 'NIH1604087435',
 'NIH1604087698',
 'NIH1604087813',
 'NIH1604088284',
 'NIH1604088294',
 'NIH1604088584',
 'NIH1604089000',
 'NIH1604089068',
 'NIH1604089306',
 'NIH1604089312',
 'NIH1604089373',
 'NIH1604089524',
 'NIH1604089640',
 'NIH1604089697',
 'NIH1604089757',
 'NIH1604090129',
 'NIH1604090165',
 'NIH1604090726',
 'NIH1604090900',
 'NIH1604090933',
 'NIH1604091398',
 'NIH1604091559',
 'NIH1604092019',
 'NIH1604092742',
 'NIH1604093150',
 'NIH1604093220',
 'NIH1604093756',
 'NIH1604093761',
 'NIH1604093868',
 'NIH1604093875',
 'NIH1604094248',
 'NIH1604094464',
 'NIH1604094615',
 'NIH1604094621',
 'NIH1604095072',
 'NIH1604095601',
 'NIH1604096079',
 'NIH1604096116',
 'NIH1604096999',
 'NIH1604097021',
 'NIH1604098259',
 'NIH1604098300',
 'NIH1604098551',
 'NIH1604098650',
 'NIH1604098975',
 'NIH1604099093',
 'NIH1604099133',
 'NIH1604100085',
 'NIH1604100301',
 'NIH1604100406',
 'NIH1604100465',
 'NIH1604100494',
 'NIH1604100683',
 'NIH1604100764',
 'NIH1604101073',
 'NIH1604101445',
 'NIH1604101555',
 'NIH1604102058',
 'NIH1604102183',
 'NIH1604102366',
 'NIH1604102756',
 'NIH1604102877',
 'NIH1604103191',
 'NIH1604103375',
 'NIH1604103539',
 'NIH1604103876',
 'NIH1604103928',
 'NIH1604103935',
 'NIH1604104086',
 'NIH1604104382',
 'NIH1604104392',
 'NIH1604104421',
 'NIH1604104673',
 'NIH1604105155',
 'NIH1604105183',
 'NIH1604105236',
 'NIH1604105567',
 'NIH1604105593',
 'NIH1604105679',
 'NIH1604105851',
 'NIH1604105980',
 'NIH1604106023',
 'NIH1604106233',
 'NIH1604106334',
 'NIH1604106828',
 'NIH1604107178',
 'NIH1604107235',
 'NIH1604107543',
 'NIH1604108678',
 'NIH1604108753',
 'NIH1604108965',
 'NIH1604109497',
 'NIH1604109549',
 'NIH1604109675',
 'NIH1604109805',
 'NIH1604109928',
 'NIH1604110002',
 'NIH1604110147',
 'NIH1604111246',
 'NIH1604111532',
 'NIH1604111613',
 'NIH1604112166',
 'NIH1604112697',
 'NIH1604112821',
 'NIH1604112891',
 'NIH1604112909',
 'NIH1604113301',
 'NIH1604113465',
 'NIH1604113554',
 'NIH1604113598',
 'NIH1604113932',
 'NIH1604114098',
 'NIH1604114290',
 'NIH1604114628',
 'NIH1604114875',
 'NIH1604115288',
 'NIH1604115386',
 'NIH1604115835',
 'NIH1604115940',
 'NIH1604116563',
 'NIH1604116687',
 'NIH1604116915',
 'NIH1604117250',
 'NIH1604118133',
 'NIH1604118162',
 'NIH1604118186',
 'NIH1604118681',
 'NIH1604118792',
 'NIH1604119040',
 'NIH1604119120',
 'NIH1604119124',
 'NIH1604119189',
 'NIH1604119200',
 'NIH1604119325',
 'NIH1604119561',
 'NIH1604119586',
 'NIH1604119642',
 'NIH1604119745',
 'NIH1604119778',
 'NIH1604119919',
 'NIH1604119979',
 'NIH1604120247',
 'NIH1604120470',
 'NIH1604120597',
 'NIH1604120659',
 'NIH1604121048',
 'NIH1604121116',
 'NIH1604121480',
 'NIH1604122058',
 'NIH1604122431',
 'NIH1604122598',
 'NIH1604122631',
 'NIH1604122981',
 'NIH1604123051',
 'NIH1604123711',
 'NIH1604123989',
 'NIH1604124456',
 'NIH1604124484',
 'NIH1604125024',
 'NIH1604125636',
 'NIH1604125852',
 'NIH1604125943',
 'NIH1604125997',
 'NIH1604126668',
 'NIH1604126983',
 'NIH1604127420',
 'NIH1604127893',
 'NIH1604128142',
 'NIH1604128205',
 'NIH1604128377',
 'NIH1604128984',
 'NIH1604129190',
 'NIH1604129205',
 'NIH1604129547',
 'NIH1604129709',
 'NIH1604129894',
 'NIH1604130019',
 'NIH1604130046',
 'NIH1604130121',
 'NIH1604130194',
 'NIH1604130282',
 'NIH1604130721',
 'NIH1604130981',
 'NIH1604131327',
 'NIH1604131619',
 'NIH1604131995',
 'NIH1604132417',
 'NIH1604132656',
 'NIH1604132803',
 'NIH1604133015',
 'NIH1604133129',
 'NIH1604133433',
 'NIH1604133541',
 'NIH1604133604',
 'NIH1604133653',
 'NIH1604134089',
 'NIH1604134292',
 'NIH1604134312',
 'NIH1604134318',
 'NIH1604134348',
 'NIH1604134730',
 'NIH1604134880',
 'NIH1604135000',
 'NIH1604135024',
 'NIH1604135671',
 'NIH1604135785',
 'NIH1604135928',
 'NIH1604136121',
 'NIH1604136203',
 'NIH1604136410',
 'NIH1604136580',
 'NIH1604136719',
 'NIH1604137706',
 'NIH1604137790',
 'NIH1604137970',
 'NIH1604138278',
 'NIH1604138595',
 'NIH1604138882',
 'NIH1604138930',
 'NIH1604139038',
 'NIH1604139045',
 'NIH1604139332',
 'NIH1604139389',
 'NIH1604139512',
 'NIH1604140383',
 'NIH1604140524',
 'NIH1604141025',
 'NIH1604141132',
 'NIH1604141505',
 'NIH1604141854',
 'NIH1604142695',
 'NIH1604143112',
 'NIH1604143421',
 'NIH1604144773',
 'NIH1604144881',
 'NIH1604145030',
 'NIH1604145384',
 'NIH1604146014',
 'NIH1604146289',
 'NIH1604146582',
 'NIH1604147010',
 'NIH1604147090',
 'NIH1604147273',
 'NIH1604147515',
 'NIH1604147529',
 'NIH1604147573',
 'NIH1604147603',
 'NIH1604147810',
 'NIH1604148108',
 'NIH1604148302',
 'NIH1604148772',
 'NIH1604149304',
 'NIH1604149616',
 'NIH1604150492',
 'NIH1604150819',
 'NIH1604150941',
 'NIH1604151735',
 'NIH1604152393',
 'NIH1604152489',
 'NIH1604152530',
 'NIH1604152618',
 'NIH1604153143',
 'NIH1604153907',
 'NIH1604153984',
 'NIH1604154275',
 'NIH1604154663',
 'NIH1604154687',
 'NIH1604154763',
 'NIH1604154779',
 'NIH1604155540',
 'NIH1604155837',
 'NIH1604155911',
 'NIH1604156070',
 'NIH1604156122',
 'NIH1604156179',
 'NIH1604156194',
 'NIH1604156203',
 'NIH1604156254',
 'NIH1604156428',
 'NIH1604156600',
 'NIH1604156629',
 'NIH1604157463',
 'NIH1604157474',
 'NIH1604157673',
 'NIH1604157735',
 'NIH1604157932',
 'NIH1604157950',
 'NIH1604158234',
 'NIH1604158431',
 'NIH1604158433',
 'NIH1604158449',
 'NIH1604158986',
 'NIH1604159233',
 'NIH1604159606',
 'NIH1604159756',
 'NIH1604159898',
 'NIH1604160189',
 'NIH1604160317',
 'NIH1604160616',
 'NIH1604160880',
 'NIH1604161048',
 'NIH1604161096',
 'NIH1604161390',
 'NIH1604161540',
 'NIH1604162065',
 'NIH1604162259',
 'NIH1604162275',
 'NIH1604162415',
 'NIH1604162467',
 'NIH1604162626',
 'NIH1604162657',
 'NIH1604162699',
 'NIH1604162858',
 'NIH1604163223',
 'NIH1604163544',
 'NIH1604163596',
 'NIH1604164308',
 'NIH1604164443',
 'NIH1604165365',
 'NIH1604165555',
 'NIH1604165769',
 'NIH1604165904',
 'NIH1604166122',
 'NIH1604166131',
 'NIH1604166206',
 'NIH1604166246',
 'NIH1604166390',
 'NIH1604166542',
 'NIH1604166619',
 'NIH1604166740',
 'NIH1604166767',
 'NIH1604167281',
 'NIH1604167299',
 'NIH1604167308',
 'NIH1604167670',
 'NIH1604168198',
 'NIH1604168370',
 'NIH1604168403',
 'NIH1604168798',
 'NIH1604168880',
 'NIH1604169255',
 'NIH1604169421',
 'NIH1604169587',
 'NIH1604169684',
 'NIH1604170006',
 'NIH1604170082',
 'NIH1604170544',
 'NIH1604170648',
 'NIH1604170649',
 'NIH1604170706',
 'NIH1604170767',
 'NIH1604170883',
 'NIH1604171062',
 'NIH1604171473',
 'NIH1604171477',
 'NIH1604171836',
 'NIH1604171851',
 'NIH1604172042',
 'NIH1604172180',
 'NIH1604172223',
 'NIH1604172237',
 'NIH1604172492',
 'NIH1604173447',
 'NIH1604173651',
 'NIH1604173748',
 'NIH1604174706',
 'NIH1604174931',
 'NIH1604175008',
 'NIH1604175276',
 'NIH1604175277',
 'NIH1604175335',
 'NIH1604175515',
 'NIH1604175670',
 'NIH1604175778',
 'NIH1604175787',
 'NIH1604176424',
 'NIH1604177433',
 'NIH1604177975',
 'NIH1604177978',
 'NIH1604178073',
 'NIH1604178102',
 'NIH1604178265',
 'NIH1604178454',
 'NIH1604178538',
 'NIH1604178907',
 'NIH1604179119',
 'NIH1604179253',
 'NIH1604179367',
 'NIH1604179490',
 'NIH1604180199',
 'NIH1604180321',
 'NIH1604180384',
 'NIH1604180628',
 'NIH1604180780',
 'NIH1604181780',
 'NIH1604181964',
 'NIH1604182654',
 'NIH1604184304',
 'NIH1604184343',
 'NIH1604184789',
 'NIH1604185651',
 'NIH1604185793',
 'NIH1604185867',
 'NIH1604185976',
 'NIH1604186078',
 'NIH1604186272',
 'NIH1604186389',
 'NIH1604186773',
 'NIH1604186918',
 'NIH1604186934',
 'NIH1604186999',
 'NIH1604187593',
 'NIH1604187644',
 'NIH1604187882',
 'NIH1604188196',
 'NIH1604188629',
 'NIH1604188647',
 'NIH1604188672',
 'NIH1604189123',
 'NIH1604189139',
 'NIH1604189142',
 'NIH1604190128',
 'NIH1604190193',
 'NIH1604190396',
 'NIH1604190430',
 'NIH1604190851',
 'NIH1604191126',
 'NIH1604191290',
 'NIH1604191526',
 'NIH1604191777',
 'NIH1604192512',
 'NIH1604192537',
 'NIH1604192702',
 'NIH1604192861',
 'NIH1604193113',
 'NIH1604193392',
 'NIH1604193414',
 'NIH1604193426',
 'NIH1604193605',
 'NIH1604193976',
 'NIH1604194233',
 'NIH1604194248',
 'NIH1604194270',
 'NIH1604194446',
 'NIH1604194660',
 'NIH1604194713',
 'NIH1604194931',
 'NIH1604194940',
 'NIH1604195714',
 'NIH1604195734',
 'NIH1604195849',
 'NIH1604196355',
 'NIH1604196851',
 'NIH1604197371',
 'NIH1604197508',
 'NIH1604197571',
 'NIH1604197892',
 'NIH1604197930',
 'NIH1604198035',
 'NIH1604198318',
 'NIH1604198346',
 'NIH1604199002',
 'NIH1604199718',
 'NIH1604199815',
 'NIH1604199899',
 'NIH1604200140',
 'NIH1604200317',
 'NIH1604200375',
 'NIH1604200428',
 'NIH1604200551',
 'NIH1604200594',
 'NIH1604200763',
 'NIH1604201265',
 'NIH1604201358',
 'NIH1604201523',
 'NIH1604201916',
 'NIH1604202101',
 'NIH1604202147',
 'NIH1604202359',
 'NIH1604202478',
 'NIH1604202656',
 'NIH1604202727',
 'NIH1604202799',
 'NIH1604203060',
 'NIH1604203099',
 'NIH1604203294',
 'NIH1604203490',
 'NIH1604203575',
 'NIH1604203615',
 'NIH1604204397',
 'NIH1604204767',
 'NIH1604205403',
 'NIH1604205574',
 'NIH1604205810',
 'NIH1604205818',
 'NIH1604205919',
 'NIH1604206283',
 'NIH1604206398',
 'NIH1604206409',
 'NIH1604206452',
 'NIH1604206674',
 'NIH1604206849',
 'NIH1604206916',
 'NIH1604207025',
 'NIH1604207223',
 'NIH1604207324',
 'NIH1604207415',
 'NIH1604207513',
 'NIH1604207643',
 'NIH1604207892',
 'NIH1604208187',
 'NIH1604208786',
 'NIH1604209011',
 'NIH1604209133',
 'NIH1604209399',
 'NIH1604210415',
 'NIH1604210995',
 'NIH1604211314',
 'NIH1604211336',
 'NIH1604211407',
 'NIH1604211787',
 'NIH1604212179',
 'NIH1604212330',
 'NIH1604212553',
 'NIH1604212602',
 'NIH1604213025',
 'NIH1604213133',
 'NIH1604213176',
 'NIH1604213359',
 'NIH1604213482',
 'NIH1604213661',
 'NIH1604213681',
 'NIH1604214168',
 'NIH1604214296',
 'NIH1604214403',
 'NIH1604214434',
 'NIH1604214749',
 'NIH1604214862',
 'NIH1604214968',
 'NIH1604215085',
 'NIH1604215243',
 'NIH1604215244',
 'NIH1604215317',
 'NIH1604215319',
 'NIH1604215379',
 'NIH1604215608',
 'NIH1604215816',
 'NIH1604215932',
 'NIH1604216018',
 'NIH1604216235',
 'NIH1604216450',
 'NIH1604217006',
 'NIH1604217241',
 'NIH1604217389',
 'NIH1604217782',
 'NIH1604217787',
 'NIH1604218195',
 'NIH1604218561',
 'NIH1604218704',
 'NIH1604218797',
 'NIH1604218985',
 'NIH1604219178',
 'NIH1604219719',
 'NIH1604219746',
 'NIH1604220379',
 'NIH1604222114',
 'NIH1604222222',
 'NIH1604222236',
 'NIH1604222837',
 'NIH1604223077',
 'NIH1604223797',
 'NIH1604223825',
 'NIH1604224244',
 'NIH1604224588',
 'NIH1604224852',
 'NIH1604225083',
 'NIH1604225191',
 'NIH1604225269',
 'NIH1604225316',
 'NIH1604225320',
 'NIH1604225488',
 'NIH1604225768',
 'NIH1604225970',
 'NIH1604226133',
 'NIH1604226298',
 'NIH1604226406',
 'NIH1604226610',
 'NIH1604226628',
 'NIH1604226815',
 'NIH1604227175',
 'NIH1604227311',
 'NIH1604227315',
 'NIH1604228304',
 'NIH1604228311',
 'NIH1604228697',
 'NIH1604228780',
 'NIH1604228862',
 'NIH1604228950',
 'NIH1604228993',
 'NIH1604229324',
 'NIH1604229697',
 'NIH1604229710',
 'NIH1604229818',
 'NIH1604229830',
 'NIH1604229940',
 'NIH1604230085',
 'NIH1604230169',
 'NIH1604230414',
 'NIH1604230646',
 'NIH1604230982',
 'NIH1604231051',
 'NIH1604231204',
 'NIH1604231476',
 'NIH1604231756',
 'NIH1604231871',
 'NIH1604232210',
 'NIH1604232365',
 'NIH1604232655',
 'NIH1604233330',
 'NIH1604233633',
 'NIH1604233698',
 'NIH1604234010',
 'NIH1604234093',
 'NIH1604234590',
 'NIH1604235100',
 'NIH1604235710',
 'NIH1604236074',
 'NIH1604236530',
 'NIH1604236537',
 'NIH1604236920',
 'NIH1604237291',
 'NIH1604237296',
 'NIH1604237297',
 'NIH1604237325',
 'NIH1604237648',
 'NIH1604237719',
 'NIH1604238289',
 'NIH1604238375',
 'NIH1604238448',
 'NIH1604238478',
 'NIH1604238999',
 'NIH1604239008',
 'NIH1604239015',
 'NIH1604239117',
 'NIH1604239194',
 ...]

In [135]:
test.loc[test['NIHID'] == 'NIH1604232210']

,기수,NIHID,EDATE,SEX,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,SMOKE,SBP_L,SBP_R,CREA_ADJUSTED
6140,A01,NIH1604232210,200201.0,2,7,48.0,54.1,157.0,73.7,17.2,155.0,1.0,110.0,110.0,0.70
6141,A03,NIH1604232210,200510.0,2,7,51.0,54.1,157.4,74.3,16.9,179.0,1.0,108.0,102.0,0.77
6142,A04,NIH1604232210,200709.0,2,7,53.0,51.3,157.7,79.4,12.5,192.0,1.0,110.0,120.0,0.92
6143,A05,NIH1604232210,200910.0,2,7,55.0,54.8,157.4,80.8,18.5,184.0,1.0,96.0,108.0,0.74
6144,A06,NIH1604232210,201108.0,2,7,57.0,54.1,157.4,83.8,16.9,161.0,1.0,106.0,102.0,0.80
6145,A07,NIH1604232210,201308.0,2,7,59.0,55.1,157.8,82.3,19.2,193.0,1.0,112.0,118.0,0.88

In [ ]:
# # 오래걸림 이 밑에거 실행할것
# # VISITALL == 7 중 7기의 데이터 7 * 14개가 모두 있는 사람 뽑아내기
# finalDf = pd.DataFrame()
# for id in unique_id: 
#     df = pd.DataFrame()
#     for row in range(len(test)):
#         if test['NIHID'][row] == id: 
#             tmp = test.iloc[[row]]
#             df = pd.concat([df, tmp], axis = 0)
#     if len(df) == 7: # 해당 id에 대해서 전체 7개의 기수 데이터가 다 있다면
#         finalDf = pd.concat([finalDf, df], axis = 0)

In [139]:
# VISITALL == 7 중 7기의 데이터 7 * 14개가 모두 있는 사람 뽑아내기
finalDf = pd.DataFrame()
for id in unique_id: 
    df = pd.DataFrame(test.loc[test['NIHID'] == id])
    if len(df) == 7: # 해당 id에 대해서 전체 7개의 기수 데이터가 다 있다면
        finalDf = pd.concat([finalDf, df], axis = 0)

In [140]:
finalDf

,기수,NIHID,EDATE,SEX,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,SMOKE,SBP_L,SBP_R,CREA_ADJUSTED
30,A01,NIH1604001317,200209.0,2,7,43.0,50.0,153.5,70.0,14.3,209.0,1.0,88.0,90.0,1.00
31,A02,NIH1604001317,200411.0,2,7,45.0,52.4,153.4,69.8,16.1,224.0,1.0,100.0,98.0,1.30
32,A03,NIH1604001317,200611.0,2,7,47.0,50.6,153.0,70.2,15.0,177.0,1.0,106.0,100.0,1.10
33,A04,NIH1604001317,200812.0,2,7,49.0,51.4,153.5,79.5,15.6,166.0,1.0,116.0,112.0,1.09
34,A05,NIH1604001317,201007.0,2,7,51.0,52.2,153.0,71.4,15.0,189.0,1.0,110.0,112.0,1.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28254,A03,NIH1604999643,200601.0,2,7,47.0,62.2,164.7,74.0,18.3,227.0,1.0,90.0,90.0,0.94
28255,A04,NIH1604999643,200711.0,2,7,49.0,60.3,164.8,67.1,15.6,222.0,1.0,86.0,94.0,0.92
28256,A05,NIH1604999643,200909.0,2,7,51.0,60.1,165.0,70.2,16.7,219.0,1.0,88.0,90.0,0.84
28257,A06,NIH1604999643,201107.0,2,7,53.0,59.8,164.5,68.1,15.6,265.0,1.0,94.0,96.0,0.87
28258,A07,NIH1604999643,201303.0,2,7,55.0,60.9,164.1,74.0,17.9,247.0,1.0,90.0,94.0,0.88

In [141]:
len(finalDf['NIHID'].unique())

2406

In [142]:
finalDf.isna().sum()

기수               0
NIHID            0
EDATE            0
SEX              0
VISITALL         0
AGE              0
WEIGHT           0
HEIGHT           0
WAIST            0
BODYFAT          0
TCHL_ORI         0
SMOKE            0
SBP_L            0
SBP_R            0
CREA_ADJUSTED    0
dtype: int64

In [143]:
finalDf.reset_index(inplace = True, drop = True)

In [144]:
finalDf

,기수,NIHID,EDATE,SEX,VISITALL,AGE,WEIGHT,HEIGHT,WAIST,BODYFAT,TCHL_ORI,SMOKE,SBP_L,SBP_R,CREA_ADJUSTED
0,A01,NIH1604001317,200209.0,2,7,43.0,50.0,153.5,70.0,14.3,209.0,1.0,88.0,90.0,1.00
1,A02,NIH1604001317,200411.0,2,7,45.0,52.4,153.4,69.8,16.1,224.0,1.0,100.0,98.0,1.30
2,A03,NIH1604001317,200611.0,2,7,47.0,50.6,153.0,70.2,15.0,177.0,1.0,106.0,100.0,1.10
3,A04,NIH1604001317,200812.0,2,7,49.0,51.4,153.5,79.5,15.6,166.0,1.0,116.0,112.0,1.09
4,A05,NIH1604001317,201007.0,2,7,51.0,52.2,153.0,71.4,15.0,189.0,1.0,110.0,112.0,1.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16837,A03,NIH1604999643,200601.0,2,7,47.0,62.2,164.7,74.0,18.3,227.0,1.0,90.0,90.0,0.94
16838,A04,NIH1604999643,200711.0,2,7,49.0,60.3,164.8,67.1,15.6,222.0,1.0,86.0,94.0,0.92
16839,A05,NIH1604999643,200909.0,2,7,51.0,60.1,165.0,70.2,16.7,219.0,1.0,88.0,90.0,0.84
16840,A06,NIH1604999643,201107.0,2,7,53.0,59.8,164.5,68.1,15.6,265.0,1.0,94.0,96.0,0.87
16841,A07,NIH1604999643,201303.0,2,7,55.0,60.9,164.1,74.0,17.9,247.0,1.0,90.0,94.0,0.88

In [145]:
final = finalDf.copy()

In [146]:
final.to_csv('MME_NanAlldrop_VisitAll7_2406.csv', encoding = 'euc-kr', index = False)

-----------------------------------------------