In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np


import matplotlib
from matplotlib import font_manager, rc
import platform

# font_path = "C:/Windows/Fonts/NGULIM.TTF"
# font = font_manager.FontProperties(fname=font_path).get_name()
# rc('font', family=font)

**4기 데이터 전처리 (2007-2009)**

**4기 영양조사 전처리**

In [54]:
영양조사_07 = pd.read_sas('hn07_24rc.sas7bdat', format = 'sas7bdat')
영양조사_07

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,0.245774,26.684071,25.104093,27.912942,3.159956,26.332965,0.008778,0.049155,0.105332,0.000000
1,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,0.032942,0.347384,6.074729,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.712066
2,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,0.042876,0.067699,14.984071,0.000000,0.000000,0.000000,0.003385,0.007221,0.009027,0.631858
3,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,0.035398,0.035398,6.584071,4.566372,27.433628,0.000000,0.002124,0.003186,0.021239,0.743363
4,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,0.035398,0.088496,25.929204,2.212389,13.185841,0.000000,0.009735,0.007080,0.053097,0.707965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197142,b'2019.03.06.',b'P549980902',2007.0,16.0,1.0,1.0,b'P549',2.0,65.0,3.0,...,0.200787,33.129921,81.820866,0.000000,0.000000,0.000000,0.055217,0.020079,0.752953,0.000000
197143,b'2019.03.06.',b'P549980902',2007.0,16.0,1.0,1.0,b'P549',2.0,65.0,3.0,...,0.144506,216.643949,37.398248,0.000000,0.000000,0.000000,0.002312,0.006936,0.069363,0.000000
197144,b'2019.03.06.',b'P549980902',2007.0,16.0,1.0,1.0,b'P549',2.0,65.0,3.0,...,0.334646,55.216535,136.368110,0.000000,0.000000,0.000000,0.092028,0.033465,1.254921,0.000000
197145,b'2019.03.06.',b'P549980902',2007.0,16.0,1.0,1.0,b'P549',2.0,65.0,3.0,...,0.334646,55.216535,136.368110,0.000000,0.000000,0.000000,0.092028,0.033465,1.254921,0.000000
197146,b'2019.03.06.',b'P549980902',2007.0,16.0,1.0,1.0,b'P549',2.0,65.0,3.0,...,0.000000,25.647600,403.366800,2.331600,11.658000,0.000000,0.303108,0.093264,0.932640,102.590400

In [55]:
영양조사_08 = pd.read_sas('hn08_24rc.sas7bdat', format = 'sas7bdat')
영양조사_08

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
418624,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
418625,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
418626,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
418627,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [56]:
영양조사_09 = pd.read_sas('hn09_24rc.sas7bdat', format = 'sas7bdat')
영양조사_09

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.193363,68.837168,10.054867,0.000000,0.000,0.000,0.007735,0.003867,0.696106,0.000
1,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.325664,1613.663717,240.176991,39.893805,0.000,0.000,0.504779,0.350088,0.814159,0.000
2,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.288000,412.560000,108.000000,17.280000,104.400,0.000,0.021600,0.021600,0.288000,5.040
3,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.078300,76.212000,29.232000,30.624000,183.483,0.000,0.012180,0.012180,0.078300,1.653
4,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.014800,22.052000,14.800000,1.406000,8.362,0.000,0.005180,0.001850,0.018500,0.703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462122,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,0.000000,43.252000,680.236000,3.932000,19.660,0.000,0.511160,0.157280,1.572800,173.008
462123,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,0.249200,82.236000,46.636000,10.324000,16.020,7.476,0.049840,0.021360,0.462800,0.000
462124,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,0.024000,0.160000,0.240000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000
462125,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,0.128000,0.853333,96.000000,0.000000,0.000,0.000,0.000533,0.005333,0.826667,0.000
462126,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,0.032000,15.946667,32.480000,0.000000,0.000,0.000,0.001600,0.000533,0.010667,0.000

In [57]:
영양조사_09_2day = pd.read_sas('hn09_24rc_2day.sas7bdat', format = 'sas7bdat')
영양조사_09_2day

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,b'2019.03.06.',b'A408359802',2009.0,1.0,1.0,1.0,b'A408',2.0,49.0,2.0,...,0.001859,2.673771,0.694640,0.355770,2.066172,0.0,0.000144,0.000439,0.001352,0.004225
1,b'2019.03.06.',b'A408359802',2009.0,1.0,1.0,1.0,b'A408',2.0,49.0,2.0,...,0.078228,4.239788,5.504964,0.000000,0.000000,0.0,0.000579,0.000531,0.064225,0.000000
2,b'2019.03.06.',b'A408359802',2009.0,1.0,1.0,1.0,b'A408',2.0,49.0,2.0,...,0.093488,133.921284,35.057928,5.609268,33.889330,0.0,0.007012,0.007012,0.093488,1.636037
3,b'2019.03.06.',b'A408359802',2009.0,1.0,1.0,1.0,b'A408',2.0,49.0,2.0,...,0.000060,0.000966,0.007485,0.000000,0.000000,0.0,0.000000,0.000000,0.000012,0.000000
4,b'2019.03.06.',b'A408359802',2009.0,1.0,1.0,1.0,b'A408',2.0,49.0,2.0,...,0.005383,0.008500,1.881333,0.000000,0.000000,0.0,0.000425,0.000907,0.001133,0.079333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99233,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,0.160400,2.005000,69.373000,1.203000,6.015000,0.0,0.012030,0.004010,0.080200,0.802000
99234,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,0.189000,190.080000,224.100000,3.780000,0.000000,0.0,0.048600,0.010800,0.351000,1.080000
99235,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,0.286000,79.200000,28.380000,8.800000,0.000000,0.0,0.048400,0.028600,0.330000,0.000000
99236,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,0.352000,85.800000,54.560000,14.080000,0.000000,0.0,0.017600,0.048400,0.374000,0.440000
99237,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,0.265000,145.750000,392.200000,74.200000,31.800000,68.9,0.106000,0.371000,0.265000,2.650000

In [15]:
영양조사_07.columns

Index(['mod_d', 'ID', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age',
       'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'kstrata',
       'kstrata0', 'wt_hs', 'wt_itv', 'wt_ex', 'wt_pft', 'wt_ntr', 'wt_itvex',
       'wt_tot', 'wt_pfnt', 'wt_itvnt', 'wt_exnt', 'N_WAT_C', 'N_DIET',
       'N_DIET_WHY', 'N_DT_DS', 'N_DUSUAL', 'N_DAY', 'N_MEAL', 'N_MEAL_T',
       'N_MEAL_P', 'N_MTYPE', 'N_DNAME', 'N_DCODE', 'N_CD_VOL', 'N_CD_WT',
       'N_TD_VOL', 'N_TD_WT', 'N_FCODE', 'N_FNAME', 'N_ENAME', 'N_PROC',
       'N_FM_WT', 'N_PRODUCT', 'N_CNAME', 'N_AP', 'N_KINDG1', 'N_KINDG2',
       'N_FCODE2', 'N_FNAME2', 'NF_INTK', 'NF_EN', 'NF_WATER', 'NF_PROT',
       'NF_FAT', 'NF_CHO', 'NF_FIBER', 'NF_ASH', 'NF_CA', 'NF_PHOS', 'NF_FE',
       'NF_NA', 'NF_K', 'NF_VA', 'NF_CAROT', 'NF_RETIN', 'NF_B1', 'NF_B2',
       'NF_NIAC', 'NF_VITC'],
      dtype='object')

In [13]:
# 08년도, 07년도 변수 차이

len(set(영양조사_08.columns) - set(영양조사_07.columns))

16

In [58]:
# 영양조사 09, 영양조사 09 2days concat

영양조사_09통합 = pd.concat([영양조사_09, 영양조사_09_2day])
영양조사_09통합

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.193363,68.837168,10.054867,0.000000,0.000,0.0,0.007735,0.003867,0.696106,0.000
1,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.325664,1613.663717,240.176991,39.893805,0.000,0.0,0.504779,0.350088,0.814159,0.000
2,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.288000,412.560000,108.000000,17.280000,104.400,0.0,0.021600,0.021600,0.288000,5.040
3,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.078300,76.212000,29.232000,30.624000,183.483,0.0,0.012180,0.012180,0.078300,1.653
4,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.014800,22.052000,14.800000,1.406000,8.362,0.0,0.005180,0.001850,0.018500,0.703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99233,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,0.160400,2.005000,69.373000,1.203000,6.015,0.0,0.012030,0.004010,0.080200,0.802
99234,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,0.189000,190.080000,224.100000,3.780000,0.000,0.0,0.048600,0.010800,0.351000,1.080
99235,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,0.286000,79.200000,28.380000,8.800000,0.000,0.0,0.048400,0.028600,0.330000,0.000
99236,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,0.352000,85.800000,54.560000,14.080000,0.000,0.0,0.017600,0.048400,0.374000,0.440
99237,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,0.265000,145.750000,392.200000,74.200000,31.800,68.9,0.106000,0.371000,0.265000,2.650

In [59]:
# 07, 08 concat

tmp = pd.concat([영양조사_07, 영양조사_08])
tmp

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,wt_ex1hm,wt_pfhm,wt_tot1,wt_ex1pfnt,wt_ex1hmnt,wt_pfhmnt,wt_tot1nt,N_FCODE3,N_FNAME3,NF_INTK3
0,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'11636',b'\xbf\xc0\xc2\xa1\xbe\xee',15.384615
418624,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'06388',b'\xc6\xc4',1.138462
418625,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'06285',b'\xbe\xe7\xc6\xc4',4.002564
418626,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'06121',b'\xb8\xb6\xb4\xc3',0.384615
418627,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'06029',b'\xb0\xed\xc3\xdf',1.515385

In [60]:
# tmp, 09 concat

영양조사_4기 = pd.concat([tmp, 영양조사_09통합])
영양조사_4기

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,wt_ex1pfnt,wt_ex1hmnt,wt_pfhmnt,wt_tot1nt,N_FCODE3,N_FNAME3,NF_INTK3,kstrata2,age_month,wt_dw
0,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99233,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,b'08155',b'\xc6\xf7\xb5\xb5',40.100000,418.0,45.0,NaN
99234,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,b'01079',"b'\xb0\xfa\xc0\xda,\xbd\xba\xb3\xbc\xb0\xfa\xc...",26.585890,418.0,45.0,NaN
99235,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,b'01079',"b'\xb0\xfa\xc0\xda,\xbd\xba\xb3\xbc\xb0\xfa\xc...",22.067485,418.0,45.0,NaN
99236,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,b'01079',"b'\xb0\xfa\xc0\xda,\xbd\xba\xb3\xbc\xb0\xfa\xc...",22.224949,418.0,45.0,NaN
99237,b'2019.03.06.',b'P409960903',2009.0,16.0,1.0,1.0,b'P409',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,b'13010',b'\xbf\xec\xc0\xaf',265.000000,418.0,45.0,NaN

In [61]:
영양조사_4기.to_csv('영양조사_4기.csv', encoding = 'euc-kr')

**4기 구강검진 전처리**

In [12]:
구강검진_07 = pd.read_sas('hn07_oe.sas7bdat', format = 'sas7bdat')
구강검진_08 = pd.read_sas('hn08_oe.sas7bdat', format = 'sas7bdat')
구강검진_09 = pd.read_sas('hn09_oe.sas7bdat', format = 'sas7bdat')

In [14]:
구강검진_07

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,b'2019.03.06.',b'A548480902',2007.0,1.0,1.0,1.0,b'A548',2.0,50.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,b'2019.03.06.',b'A548480904',2007.0,1.0,1.0,1.0,b'A548',2.0,21.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,b'2019.03.06.',b'A548560901',2007.0,1.0,1.0,1.0,b'A548',2.0,35.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,b'2019.03.06.',b'A548560902',2007.0,1.0,1.0,1.0,b'A548',2.0,12.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4241,b'2019.03.06.',b'P549879802',2007.0,16.0,1.0,1.0,b'P549',2.0,74.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4242,b'2019.03.06.',b'P549980702',2007.0,16.0,1.0,1.0,b'P549',2.0,34.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4243,b'2019.03.06.',b'P549980703',2007.0,16.0,1.0,1.0,b'P549',2.0,5.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4244,b'2019.03.06.',b'P549980704',2007.0,16.0,1.0,1.0,b'P549',2.0,4.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4245,b'2019.03.06.',b'P549980902',2007.0,16.0,1.0,1.0,b'P549',2.0,65.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
구강검진_08

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,b'2019.03.06.',b'A448680502',2008.0,1.0,1.0,1.0,b'A448',1.0,12.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9302,b'2019.03.06.',b'P451960905',2008.0,16.0,1.0,1.0,b'P451',2.0,2.0,4.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9303,b'2019.03.06.',b'P451980901',2008.0,16.0,1.0,1.0,b'P451',1.0,67.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9304,b'2019.03.06.',b'P451980902',2008.0,16.0,1.0,1.0,b'P451',2.0,62.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9305,b'2019.03.06.',b'P451980905',2008.0,16.0,1.0,1.0,b'P451',1.0,8.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9306,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [15]:
구강검진_09

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,b'2019.03.06.',b'A408359802',2009.0,1.0,1.0,1.0,b'A408',2.0,49.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,b'2019.03.06.',b'A408359803',2009.0,1.0,1.0,1.0,b'A408',1.0,25.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,b'2019.03.06.',b'A408399801',2009.0,1.0,1.0,1.0,b'A408',1.0,55.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,b'2019.03.06.',b'A408399802',2009.0,1.0,1.0,1.0,b'A408',2.0,51.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10073,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10074,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10075,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10076,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10077,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
tmp = pd.concat([구강검진_07, 구강검진_08])
tmp

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,wt_hmnt,wt_ex1nt,wt_ex1pf,wt_ex1hm,wt_pfhm,wt_tot1,wt_ex1pfnt,wt_ex1hmnt,wt_pfhmnt,wt_tot1nt
0,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A548480902',2007.0,1.0,1.0,1.0,b'A548',2.0,50.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A548480904',2007.0,1.0,1.0,1.0,b'A548',2.0,21.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A548560901',2007.0,1.0,1.0,1.0,b'A548',2.0,35.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A548560902',2007.0,1.0,1.0,1.0,b'A548',2.0,12.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9302,b'2019.03.06.',b'P451960905',2008.0,16.0,1.0,1.0,b'P451',2.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9303,b'2019.03.06.',b'P451980901',2008.0,16.0,1.0,1.0,b'P451',1.0,67.0,1.0,...,20467.740036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9304,b'2019.03.06.',b'P451980902',2008.0,16.0,1.0,1.0,b'P451',2.0,62.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9305,b'2019.03.06.',b'P451980905',2008.0,16.0,1.0,1.0,b'P451',1.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9306,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
구강검진_4기 = pd.concat([tmp, 구강검진_09])
구강검진_4기

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,wt_ex1hm,wt_pfhm,wt_tot1,wt_ex1pfnt,wt_ex1hmnt,wt_pfhmnt,wt_tot1nt,kstrata2,age_month,wt_dw
0,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A548480902',2007.0,1.0,1.0,1.0,b'A548',2.0,50.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A548480904',2007.0,1.0,1.0,1.0,b'A548',2.0,21.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A548560901',2007.0,1.0,1.0,1.0,b'A548',2.0,35.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A548560902',2007.0,1.0,1.0,1.0,b'A548',2.0,12.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10073,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10074,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN
10075,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN
10076,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4499.550929
10077,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5937.500483

In [17]:
구강검진_4기.to_csv('구강검진_4기.csv', encoding = 'euc-kr')

**4기 건강설문조사 전처리**

In [18]:
건강설문조사_07 = pd.read_sas('hn07_ijmt.sas7bdat', format = 'sas7bdat')
건강설문조사_08 = pd.read_sas('hn08_ijmt.sas7bdat', format = 'sas7bdat')
건강설문조사_09 = pd.read_sas('hn09_ijmt.sas7bdat', format = 'sas7bdat')

In [20]:
건강설문조사_07

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_1_07,MP6_2_07,MP6_3_07,MP6_4_07,MP6_5_07,MP6_6_07,MP6_8_07,MP6_9_07,MP7_1_07,MP8_4_07
0,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
1,b'2019.03.06.',b'A548480902',2007.0,1.0,1.0,1.0,b'A548',2.0,50.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
2,b'2019.03.06.',b'A548480904',2007.0,1.0,1.0,1.0,b'A548',2.0,21.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
3,b'2019.03.06.',b'A548560901',2007.0,1.0,1.0,1.0,b'A548',2.0,35.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
4,b'2019.03.06.',b'A548560902',2007.0,1.0,1.0,1.0,b'A548',2.0,12.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4143,b'2019.03.06.',b'P549879802',2007.0,16.0,1.0,1.0,b'P549',2.0,74.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
4144,b'2019.03.06.',b'P549980702',2007.0,16.0,1.0,1.0,b'P549',2.0,34.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
4145,b'2019.03.06.',b'P549980703',2007.0,16.0,1.0,1.0,b'P549',2.0,5.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
4146,b'2019.03.06.',b'P549980704',2007.0,16.0,1.0,1.0,b'P549',2.0,4.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
4147,b'2019.03.06.',b'P549980902',2007.0,16.0,1.0,1.0,b'P549',2.0,65.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0

In [21]:
건강설문조사_08

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_1_12,MP6_2_12,MP6_3_12,MP6_4_12,MP6_5_12,MP6_6_12,MP6_8_12,MP6_9_12,MP7_1_12,MP8_4_12
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
4,b'2019.03.06.',b'A448680502',2008.0,1.0,1.0,1.0,b'A448',1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276,b'2019.03.06.',b'P451960905',2008.0,16.0,1.0,1.0,b'P451',2.0,2.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
9277,b'2019.03.06.',b'P451980901',2008.0,16.0,1.0,1.0,b'P451',1.0,67.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
9278,b'2019.03.06.',b'P451980902',2008.0,16.0,1.0,1.0,b'P451',2.0,62.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
9279,b'2019.03.06.',b'P451980905',2008.0,16.0,1.0,1.0,b'P451',1.0,8.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
9280,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0

In [22]:
건강설문조사_09

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_1_08,MP6_2_08,MP6_3_08,MP6_4_08,MP6_5_08,MP6_6_08,MP6_8_08,MP6_9_08,MP7_1_08,MP8_4_08
0,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
1,b'2019.03.06.',b'A408359802',2009.0,1.0,1.0,1.0,b'A408',2.0,49.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
2,b'2019.03.06.',b'A408359803',2009.0,1.0,1.0,1.0,b'A408',1.0,25.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
3,b'2019.03.06.',b'A408399801',2009.0,1.0,1.0,1.0,b'A408',1.0,55.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
4,b'2019.03.06.',b'A408399802',2009.0,1.0,1.0,1.0,b'A408',2.0,51.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10046,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
10047,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
10048,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
10049,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0
10050,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,88888888.0,8.0

In [19]:
건강설문조사_4기 = pd.concat([건강설문조사_07, 건강설문조사_08, 건강설문조사_09])
건강설문조사_4기

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_4_12,MP6_5_12,MP6_6_12,MP6_8_12,MP6_9_12,MP7_1_12,MP8_4_12,kstrata2,age_month,wt_dw
0,b'2019.03.06.',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A548480902',2007.0,1.0,1.0,1.0,b'A548',2.0,50.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A548480904',2007.0,1.0,1.0,1.0,b'A548',2.0,21.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A548560901',2007.0,1.0,1.0,1.0,b'A548',2.0,35.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A548560902',2007.0,1.0,1.0,1.0,b'A548',2.0,12.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10046,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10047,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN
10048,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN
10049,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4499.550929
10050,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5937.500483

In [24]:
건강설문조사_4기.to_csv('건강설문조사_4기.csv', encoding = 'euc-kr')

In [25]:
안검사_08 = pd.read_sas('hn08_eye.sas7bdat', format = 'sas7bdat')
안검사_09 = pd.read_sas('hn09_eye.sas7bdat', format = 'sas7bdat')

In [26]:
안검사_4기 = pd.concat([안검사_08, 안검사_09])
안검사_4기

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,E_DL_11,E_DL_12,E_DL_13,E_DL_14,kstrata2,age_month,wt_dw,E_VS_Ty_C,E_DR_cmt,E_DL_cmt
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A448680502',2008.0,1.0,1.0,1.0,b'A448',1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,8.0,8.0,8.0,8.0,NaN,NaN,NaN,0.0,NaN,NaN
9756,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,8.0,8.0,8.0,8.0,NaN,75.0,NaN,NaN,NaN,NaN
9757,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,8.0,8.0,8.0,8.0,NaN,41.0,NaN,NaN,NaN,NaN
9758,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,8.0,8.0,8.0,8.0,NaN,NaN,4499.550929,0.0,NaN,NaN
9759,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,8.0,8.0,8.0,8.0,NaN,NaN,5937.500483,0.0,NaN,NaN

In [27]:
안검사_4기.to_csv('안검사_4기.csv', encoding = 'euc-kr')

In [28]:
골밀도_체지방_08 = pd.read_sas('hn08_dxa.sas7bdat', format = 'sas7bdat')
골밀도_체지방_09 = pd.read_sas('hn09_dxa.sas7bdat', format = 'sas7bdat')

In [29]:
골밀도_체지방_4기 = pd.concat([골밀도_체지방_08, 골밀도_체지방_09])
골밀도_체지방_4기

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT,kstrata2,age_month,wt_dw,DXW_ex
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A448740903',2008.0,1.0,1.0,1.0,b'A448',2.0,70.0,2.0,...,58368.716227,40.212351,24379.078925,38627.065516,63006.144441,38.693177,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,b'2019.03.06.',b'P411920902',2009.0,16.0,2.0,1.0,b'P411',1.0,38.0,1.0,...,45143.292542,10.813648,5728.415454,44171.210079,49899.625533,11.479877,NaN,NaN,3520.836166,3.0
7916,b'2019.03.06.',b'P411920903',2009.0,16.0,2.0,1.0,b'P411',2.0,37.0,1.0,...,40238.904747,25.974576,11328.169255,34025.575581,45353.744836,24.977363,NaN,NaN,2723.736493,3.0
7917,b'2019.03.06.',b'P411940901',2009.0,16.0,2.0,1.0,b'P411',1.0,39.0,2.0,...,59289.888969,30.651554,19158.920930,45447.295445,64606.216375,29.654919,NaN,NaN,15910.310836,3.0
7918,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,47734.567544,14.130388,7653.917868,45250.497323,52904.415192,14.467446,NaN,NaN,4499.550929,3.0
7919,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,61183.525957,38.115271,24173.511326,41730.790045,65904.301371,36.679717,NaN,NaN,5937.500483,3.0

In [30]:
골밀도_체지방_4기.to_csv('골밀도및체지방검사_4기.csv', encoding = 'euc-kr')

In [31]:
이비인후검사_08 = pd.read_sas('hn08_ent.sas7bdat', format = 'sas7bdat')
이비인후검사_09 = pd.read_sas('hn09_ent.sas7bdat', format = 'sas7bdat')

In [32]:
이비인후검사_4기 = pd.concat([이비인후검사_08, 이비인후검사_09])
이비인후검사_4기

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB,T_oHR_aid
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A448680502',2008.0,1.0,1.0,1.0,b'A448',1.0,12.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10060,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10061,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10062,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10063,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10064,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
이비인후검사_4기.to_csv('이비인후검사_4기.csv', encoding = 'euc-kr')

**5기 데이터 전처리 (2010-2012)**

In [34]:
영양조사_10 = pd.read_sas('hn10_24rc.sas7bdat', format = 'sas7bdat')
영양조사_11 = pd.read_sas('hn11_24rc.sas7bdat', format = 'sas7bdat')
영양조사_12 = pd.read_sas('hn12_24rc.sas7bdat', format = 'sas7bdat')

In [36]:
영양조사_5기 = pd.concat([영양조사_10, 영양조사_11, 영양조사_12])
영양조사_5기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,NS_NIAC,NS_VITC,wt_ex1,wt_ex1nt,wt_ex1pf,wt_ex1hm,wt_ex1pfnt,wt_ex1hmnt,wt_tot1,wt_tot1nt
0,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415438,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415439,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415440,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415441,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415442,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
영양조사_5기.to_csv('영양조사_5기.csv', encoding = 'euc-kr')

In [38]:
이비인후검사_10 = pd.read_sas('hn10_ent.sas7bdat', format = 'sas7bdat')
이비인후검사_11 = pd.read_sas('hn11_ent.sas7bdat', format = 'sas7bdat')
이비인후검사_12 = pd.read_sas('hn12_ent.sas7bdat', format = 'sas7bdat')

In [39]:
이비인후검사_5기 = pd.concat([이비인후검사_10, 이비인후검사_11, 이비인후검사_12])
이비인후검사_5기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,T_Q_ARDG,T_Q_ARPT,T_Q_OMDG,T_Q_OMPT,T_NQ_OCP_T,T_NQ_OCP_P,T_NQ_LS,T_NQ_LS_T,T_NQ_FIR,T_NQ_FIR_P
0,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A308059802',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',2.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A308120201',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',1.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A308120202',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A308199801',b'A3081998',2010.0,1.0,1.0,2.0,b'A308',1.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7416,b'2019.03.06.',b'P111978901',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',1.0,75.0,...,2.0,8.0,2.0,8.0,888.0,8.0,2.0,888.0,2.0,8.0
7417,b'2019.03.06.',b'P111978902',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',2.0,67.0,...,2.0,8.0,2.0,8.0,10.0,2.0,2.0,888.0,2.0,8.0
7418,b'2019.03.06.',b'P111979301',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',1.0,63.0,...,2.0,8.0,2.0,8.0,888.0,8.0,2.0,888.0,1.0,2.0
7419,b'2019.03.06.',b'P111979302',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',2.0,59.0,...,2.0,8.0,2.0,8.0,888.0,8.0,2.0,888.0,2.0,8.0
7420,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,2.0,8.0,2.0,8.0,888.0,8.0,2.0,888.0,2.0,8.0

In [40]:
이비인후검사_5기.to_csv('이비인후검사_5기.csv', encoding = 'euc-kr')

In [41]:
구강검사_10 = pd.read_sas('hn10_oe.sas7bdat', format = 'sas7bdat')
구강검사_11 = pd.read_sas('hn11_oe.sas7bdat', format = 'sas7bdat')
구강검사_12 = pd.read_sas('hn12_oe.sas7bdat', format = 'sas7bdat')

In [42]:
구강검사_5기 = pd.concat([구강검사_10, 구강검사_11, 구강검사_12])
구강검사_5기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,O_CPI_LL,NO_CPI_34,wt_ex1,wt_ex1nt,wt_ex1pf,wt_ex1hm,wt_ex1pfnt,wt_ex1hmnt,wt_tot1,wt_tot1nt
0,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A308059802',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',2.0,54.0,...,8.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A308120201',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',1.0,33.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A308120202',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,33.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A308120203',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7348,b'2019.03.06.',b'P111978901',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',1.0,75.0,...,8.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7349,b'2019.03.06.',b'P111978902',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',2.0,67.0,...,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7350,b'2019.03.06.',b'P111979301',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',1.0,63.0,...,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7351,b'2019.03.06.',b'P111979302',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',2.0,59.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7352,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
구강검사_5기.to_csv('구강검사_5기.csv', encoding = 'euc-kr')

In [44]:
골밀도_체지방_10 = pd.read_sas('hn10_dxa.sas7bdat', format = 'sas7bdat')
골밀도_체지방_11 = pd.read_sas('hn11_dxa.sas7bdat', format = 'sas7bdat')

In [45]:
골밀도_체지방_5기 = pd.concat([골밀도_체지방_10, 골밀도_체지방_11])
골밀도_체지방_5기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,DW_WBT_MS,DW_WBT_pFT,wt_ex1,wt_ex1nt,wt_ex1pf,wt_ex1hm,wt_ex1pfnt,wt_ex1hmnt,wt_tot1,wt_tot1nt
0,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,71523.42642,30.427766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A308059802',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',2.0,54.0,...,53258.71917,26.522071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A308120201',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',1.0,33.0,...,79131.41688,24.393468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A308120202',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,33.0,...,50867.75826,33.964952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A308199801',b'A3081998',2010.0,1.0,1.0,2.0,b'A308',1.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,b'2019.03.06.',b'O359840901',b'O3598409',2011.0,15.0,1.0,1.0,b'O359',2.0,60.0,...,51883.49963,33.762837,10912.721181,9631.262304,10425.001486,NaN,11020.934104,NaN,NaN,NaN
2753,b'2019.03.06.',b'O359859801',b'O3598598',2011.0,15.0,1.0,1.0,b'O359',1.0,68.0,...,67478.35501,19.036962,8479.458051,NaN,NaN,27481.714991,NaN,NaN,NaN,NaN
2754,b'2019.03.06.',b'O359859802',b'O3598598',2011.0,15.0,1.0,1.0,b'O359',2.0,61.0,...,66673.35701,37.421728,10912.721181,NaN,20850.002972,NaN,NaN,NaN,NaN,NaN
2755,b'2019.03.06.',b'O359920901',b'O3599209',2011.0,15.0,1.0,1.0,b'O359',1.0,65.0,...,70069.49674,24.012934,8479.458051,8900.007290,13567.779627,NaN,14722.736043,NaN,NaN,NaN
2756,b'2019.03.06.',b'O359920902',b'O3599209',2011.0,15.0,1.0,1.0,b'O359',2.0,58.0,...,53680.64552,32.724432,12612.840920,11340.106917,13627.554915,49698.484797,13492.782585,50187.048437,73636.633623,73187.638942

In [47]:
골밀도_체지방_5기.to_csv('골밀도및체지방검사_5기.csv', encoding = 'euc-kr')

In [48]:
안검사_10 = pd.read_sas('hn10_eye.sas7bdat', format = 'sas7bdat')
안검사_11 = pd.read_sas('hn11_eye.sas7bdat', format = 'sas7bdat')
안검사_12 = pd.read_sas('hn12_eye.sas7bdat', format = 'sas7bdat')

In [49]:
안검사_5기 = pd.concat([안검사_10, 안검사_11, 안검사_12])
안검사_5기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,E_GRS,E_GRF,E_GRF_P,E_GRP,E_GRP_P,E_GLS,E_GLF,E_GLF_P,E_GLP,E_GLP_P
0,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A308059802',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',2.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A308120201',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',1.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A308120202',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A308120203',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7439,b'2019.03.06.',b'P111978901',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',1.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7440,b'2019.03.06.',b'P111978902',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',2.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7441,b'2019.03.06.',b'P111979301',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',1.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7442,b'2019.03.06.',b'P111979302',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',2.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7443,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
안검사_5기.to_csv('안검사_5기.csv', encoding = 'euc-kr')

In [51]:
건강설문조사_10 = pd.read_sas('hn10_ijmt.sas7bdat', format = 'sas7bdat')
건강설문조사_11 = pd.read_sas('hn11_ijmt.sas7bdat', format = 'sas7bdat')
건강설문조사_12 = pd.read_sas('hn12_ijmt.sas7bdat', format = 'sas7bdat')

In [52]:
건강설문조사_5기 = pd.concat([건강설문조사_10, 건강설문조사_11, 건강설문조사_12])
건강설문조사_5기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,MO4_1_23,MO4_1_24,MO4_1_25,MO4_1_26,MO8_4_21,MO8_4_22,MO8_4_23,MO8_4_24,MO8_4_25,MO8_4_26
0,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A308059802',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',2.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A308120201',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',1.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A308120202',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A308120203',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7332,b'2019.03.06.',b'P111978901',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',1.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7333,b'2019.03.06.',b'P111978902',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',2.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7334,b'2019.03.06.',b'P111979301',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',1.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7335,b'2019.03.06.',b'P111979302',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',2.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7336,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
건강설문조사_5기.to_csv('건강설문조사_5기.csv', encoding = 'euc-kr')

**6기 데이터 전처리 (2013-2015)**

In [62]:
구강검사_13 = pd.read_sas('HN13_OE.sas7bdat', format = 'sas7bdat')
구강검사_14 = pd.read_sas('HN14_OE.sas7bdat', format = 'sas7bdat')
구강검사_15 = pd.read_sas('HN15_OE.sas7bdat', format = 'sas7bdat')

In [63]:
구강검사_6기 = pd.concat([구강검사_13, 구강검사_14, 구강검사_15])
구강검사_6기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,O_CPI_UM,O_CPI_UL,O_CPI_LR,O_CPI_LM,O_CPI_LL,NO_CPI_34,wt_tr,wt_pftr,wt_trnt,wt_pftrnt
0,b'2019.03.06.',b'A159723015',b'A1597230',2013.0,1.0,1.0,2.0,b'A159',2.0,25.0,...,0.0,0.0,0.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A159723016',b'A1597230',2013.0,1.0,1.0,2.0,b'A159',1.0,29.0,...,1.0,0.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A159724713',b'A1597247',2013.0,1.0,1.0,2.0,b'A159',1.0,7.0,...,8.0,8.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A159724714',b'A1597247',2013.0,1.0,1.0,2.0,b'A159',1.0,9.0,...,8.0,8.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A159724715',b'A1597247',2013.0,1.0,1.0,2.0,b'A159',1.0,47.0,...,0.0,0.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6972,b'2019.03.06.',b'P296755016',b'P2967550',2015.0,16.0,1.0,2.0,b'P296',1.0,68.0,...,2.0,2.0,2.0,2.0,2.0,0.0,1829.974723,2922.042076,1991.109364,3183.110092
6973,b'2019.03.06.',b'P296777116',b'P2967771',2015.0,16.0,1.0,2.0,b'P296',1.0,76.0,...,2.0,8.0,8.0,8.0,8.0,0.0,NaN,NaN,NaN,NaN
6974,b'2019.03.06.',b'P296781216',b'P2967812',2015.0,16.0,1.0,2.0,b'P296',2.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6975,b'2019.03.06.',b'P296783215',b'P2967832',2015.0,16.0,1.0,2.0,b'P296',1.0,66.0,...,0.0,3.0,3.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN
6976,b'2019.03.06.',b'P296783216',b'P2967832',2015.0,16.0,1.0,2.0,b'P296',2.0,80.0,...,8.0,8.0,8.0,8.0,8.0,0.0,NaN,NaN,NaN,NaN

In [64]:
구강검사_6기.to_csv('구강검사_6기.csv', encoding = 'euc-kr')

In [65]:
영양조사_13 = pd.read_sas('hn13_24rc.sas7bdat', format = 'sas7bdat')
영양조사_14 = pd.read_sas('hn14_24rc.sas7bdat', format = 'sas7bdat')
영양조사_15 = pd.read_sas('hn15_24rc.sas7bdat', format = 'sas7bdat')

In [66]:
영양조사_6기 = pd.concat([영양조사_13, 영양조사_14, 영양조사_15])
영양조사_6기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,NS_WT,NS_CODE,NS_CA,NS_PHOS,NS_FE,NS_VA,NS_B1,NS_B2,NS_NIAC,NS_VITC
0,b'2019.03.06.',b'A159723015',b'A1597230',2013.0,1.0,1.0,2.0,b'A159',2.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A159723015',b'A1597230',2013.0,1.0,1.0,2.0,b'A159',2.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A159723015',b'A1597230',2013.0,1.0,1.0,2.0,b'A159',2.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A159723015',b'A1597230',2013.0,1.0,1.0,2.0,b'A159',2.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A159723015',b'A1597230',2013.0,1.0,1.0,2.0,b'A159',2.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447713,b'2019.03.06.',b'P296783216',b'P2967832',2015.0,16.0,1.0,2.0,b'P296',2.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447714,b'2019.03.06.',b'P296783216',b'P2967832',2015.0,16.0,1.0,2.0,b'P296',2.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447715,b'2019.03.06.',b'P296783216',b'P2967832',2015.0,16.0,1.0,2.0,b'P296',2.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447716,b'2019.03.06.',b'P296783216',b'P2967832',2015.0,16.0,1.0,2.0,b'P296',2.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447717,b'2019.03.06.',b'P296783216',b'P2967832',2015.0,16.0,1.0,2.0,b'P296',2.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
영양조사_6기.to_csv('영양조사_6기.csv', encoding = 'euc-kr')

In [68]:
식품섭취빈도조사_13 = pd.read_sas('hn13_ffq.sas7bdat', format = 'sas7bdat')
식품섭취빈도조사_14 = pd.read_sas('hn14_ffq.sas7bdat', format = 'sas7bdat')
식품섭취빈도조사_15 = pd.read_sas('hn15_ffq.sas7bdat', format = 'sas7bdat')

In [69]:
식품섭취빈도조사_6기 = pd.concat([식품섭취빈도조사_13, 식품섭취빈도조사_14, 식품섭취빈도조사_15])
식품섭취빈도조사_6기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,FQ_RETIN,FQ_CAROT,FQ_B1,FQ_B2,FQ_NIAC,FQ_VITC,wt_tr,wt_pftr,wt_trnt,wt_pftrnt
0,b'2019.03.06.',b'A159723015',b'A1597230',2013.0,1.0,1.0,2.0,b'A159',2.0,25.0,...,257.287410,5062.859130,3.145101,2.807138,23.874206,184.178519,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A159723016',b'A1597230',2013.0,1.0,1.0,2.0,b'A159',1.0,29.0,...,116.889624,3076.065583,2.470649,1.911686,18.778855,77.823735,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A159724713',b'A1597247',2013.0,1.0,1.0,2.0,b'A159',1.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A159724714',b'A1597247',2013.0,1.0,1.0,2.0,b'A159',1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A159724715',b'A1597247',2013.0,1.0,1.0,2.0,b'A159',1.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7375,b'2019.03.06.',b'P296755016',b'P2967550',2015.0,16.0,1.0,2.0,b'P296',1.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1829.974723,2922.042076,1991.109364,3183.110092
7376,b'2019.03.06.',b'P296777116',b'P2967771',2015.0,16.0,1.0,2.0,b'P296',1.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7377,b'2019.03.06.',b'P296781216',b'P2967812',2015.0,16.0,1.0,2.0,b'P296',2.0,62.0,...,16.812108,922.493568,0.725844,0.292908,4.870101,27.832533,NaN,NaN,NaN,NaN
7378,b'2019.03.06.',b'P296783215',b'P2967832',2015.0,16.0,1.0,2.0,b'P296',1.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7379,b'2019.03.06.',b'P296783216',b'P2967832',2015.0,16.0,1.0,2.0,b'P296',2.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
식품섭취빈도조사_6기.to_csv('식품섭취빈도조사_6기.csv', encoding = 'euc-kr')

In [71]:
건강설문조사_13 = pd.read_sas('hn13_ijmt.sas7bdat', format = 'sas7bdat')
건강설문조사_14 = pd.read_sas('hn14_ijmt.sas7bdat', format = 'sas7bdat')
건강설문조사_15 = pd.read_sas('hn15_ijmt.sas7bdat', format = 'sas7bdat')

In [72]:
건강설문조사_6기 = pd.concat([건강설문조사_13, 건강설문조사_14, 건강설문조사_15])
건강설문조사_6기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,MH5_1_19,MH5_2_19,MH5_3_19,MH3_1_20,MH3_2_20,MH3_3_20,MH4_1_20,MH5_1_20,MH5_2_20,MH5_3_20
0,b'2019.03.06.',b'A159723015',b'A1597230',2013.0,1.0,1.0,2.0,b'A159',2.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A159723016',b'A1597230',2013.0,1.0,1.0,2.0,b'A159',1.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A159724713',b'A1597247',2013.0,1.0,1.0,2.0,b'A159',1.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A159724714',b'A1597247',2013.0,1.0,1.0,2.0,b'A159',1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A159724715',b'A1597247',2013.0,1.0,1.0,2.0,b'A159',1.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6899,b'2019.03.06.',b'P296755016',b'P2967550',2015.0,16.0,1.0,2.0,b'P296',1.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6900,b'2019.03.06.',b'P296777116',b'P2967771',2015.0,16.0,1.0,2.0,b'P296',1.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6901,b'2019.03.06.',b'P296781216',b'P2967812',2015.0,16.0,1.0,2.0,b'P296',2.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6902,b'2019.03.06.',b'P296783215',b'P2967832',2015.0,16.0,1.0,2.0,b'P296',1.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6903,b'2019.03.06.',b'P296783216',b'P2967832',2015.0,16.0,1.0,2.0,b'P296',2.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
건강설문조사_6기.to_csv('건강설문조사_6기.csv', encoding = 'euc-kr')

In [74]:
가속도계조사_14 = pd.read_sas('HN14_PAM.sas7bdat', format = 'sas7bdat')
가속도계조사_15 = pd.read_sas('hn15_pam.sas7bdat', format = 'sas7bdat')

In [75]:
가속도계조사_6기 = pd.concat([가속도계조사_14, 가속도계조사_15])
가속도계조사_6기

,mod_d,ID,year,sex,age,day,PAXDAY,PAXN,PAXHOUR,PAXMINUT,PAXINTEN,PAXSTEP
0,b'2018.11.26.',b'A209799515',2014.0,2.0,64.0,1.0,5.0,1.0,0.0,0.0,83.0,0.0
1,b'2018.11.26.',b'A209799515',2014.0,2.0,64.0,1.0,5.0,2.0,0.0,1.0,0.0,0.0
2,b'2018.11.26.',b'A209799515',2014.0,2.0,64.0,1.0,5.0,3.0,0.0,2.0,0.0,0.0
3,b'2018.11.26.',b'A209799515',2014.0,2.0,64.0,1.0,5.0,4.0,0.0,3.0,0.0,0.0
4,b'2018.11.26.',b'A209799515',2014.0,2.0,64.0,1.0,5.0,5.0,0.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7970237,b'2019.03.06.',b'P296726815',2015.0,2.0,60.0,7.0,4.0,10076.0,23.0,55.0,0.0,0.0
7970238,b'2019.03.06.',b'P296726815',2015.0,2.0,60.0,7.0,4.0,10077.0,23.0,56.0,0.0,0.0
7970239,b'2019.03.06.',b'P296726815',2015.0,2.0,60.0,7.0,4.0,10078.0,23.0,57.0,0.0,0.0
7970240,b'2019.03.06.',b'P296726815',2015.0,2.0,60.0,7.0,4.0,10079.0,23.0,58.0,0.0,0.0
7970241,b'2019.03.06.',b'P296726815',2015.0,2.0,60.0,7.0,4.0,10080.0,23.0,59.0,0.0,0.0

In [76]:
가속도계조사_6기.to_csv('가속도계조사_6기.csv', encoding = 'euc-kr')

In [77]:
영양조사_16 = pd.read_sas('hn16_24rc.sas7bdat', format = 'sas7bdat')
영양조사_17 = pd.read_sas('hn17_24rc.sas7bdat', format = 'sas7bdat')

In [78]:
영양조사_7기 = pd.concat([영양조사_16, 영양조사_17])
영양조사_7기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,NS_NIAC,NS_VITC,wt_ex1,wt_ex1nt,wt_ex1hm,wt_ex1pf,wt_tot1,wt_ex1pfnt,wt_ex1hmnt,wt_tot1nt
0,b'2021.02.26.',b'A651172801',b'A6511728',2016.0,1.0,1.0,2.0,b'A651',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2021.02.26.',b'A651172801',b'A6511728',2016.0,1.0,1.0,2.0,b'A651',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2021.02.26.',b'A651172801',b'A6511728',2016.0,1.0,1.0,2.0,b'A651',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2021.02.26.',b'A651172801',b'A6511728',2016.0,1.0,1.0,2.0,b'A651',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2021.02.26.',b'A651172801',b'A6511728',2016.0,1.0,1.0,2.0,b'A651',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529439,b'2021.02.26.',b'R604346202',b'R6043462',2017.0,8.0,2.0,1.0,b'R604',2.0,75.0,...,NaN,NaN,1274.842453,1354.292298,NaN,NaN,NaN,NaN,NaN,NaN
529440,b'2021.02.26.',b'R604346202',b'R6043462',2017.0,8.0,2.0,1.0,b'R604',2.0,75.0,...,NaN,NaN,1274.842453,1354.292298,NaN,NaN,NaN,NaN,NaN,NaN
529441,b'2021.02.26.',b'R604346202',b'R6043462',2017.0,8.0,2.0,1.0,b'R604',2.0,75.0,...,NaN,NaN,1274.842453,1354.292298,NaN,NaN,NaN,NaN,NaN,NaN
529442,b'2021.02.26.',b'R604346202',b'R6043462',2017.0,8.0,2.0,1.0,b'R604',2.0,75.0,...,NaN,NaN,1274.842453,1354.292298,NaN,NaN,NaN,NaN,NaN,NaN
529443,b'2021.02.26.',b'R604346202',b'R6043462',2017.0,8.0,2.0,1.0,b'R604',2.0,75.0,...,NaN,NaN,1274.842453,1354.292298,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
영양조사_7기.to_csv('영양조사_7기.csv', encoding = 'euc-kr')

In [80]:
식품섭취빈도조사_16 = pd.read_sas('hn16_ffq.sas7bdat', format = 'sas7bdat')

In [82]:
식품섭취빈도조사_16.to_csv('식품섭취빈도조사_7기.csv', encoding = 'euc-kr')

In [3]:
구강검사_7기 = pd.read_sas('hny7_oe.sas7bdat', format = 'sas7bdat')

In [5]:
구강검사_7기

,mod_d,ID,ID_fam,region,town_t,apt_t,psu,sex,age,age_month,...,HEI_TVEG,HEI_VEG,HEI_PROTF,HEI_DAIRY,HEI_SFA,HEI_NA,HEI_SWEET,HEI_CHO,HEI_FAT,HEI_EN
0,b'2021.04.06.',b'A603176201',b'AG011762',1.0,1.0,1.0,b'AG01',2.0,80.0,NaN,...,1.960514,3.921028,3.016490,0.000000,10.000000,10.000000,10.00000,0.000000,0.0,0.000000
1,b'2021.04.06.',b'A603191501',b'AG011915',1.0,1.0,1.0,b'AG01',2.0,47.0,NaN,...,5.000000,5.000000,5.424729,10.000000,0.000000,8.623560,10.00000,5.000000,5.0,5.000000
2,b'2021.04.06.',b'A603191503',b'AG011915',1.0,1.0,1.0,b'AG01',2.0,17.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2021.04.06.',b'A603191504',b'AG011915',1.0,1.0,1.0,b'AG01',1.0,13.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2021.04.06.',b'A603210201',b'AG012102',1.0,1.0,1.0,b'AG01',2.0,80.0,NaN,...,5.000000,5.000000,0.820890,4.506667,10.000000,8.858797,10.00000,2.626709,5.0,2.738453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16484,b'2021.04.06.',b'R904028902',b'RG100289',8.0,1.0,2.0,b'RG10',2.0,73.0,NaN,...,5.000000,3.460232,2.940008,7.280000,6.332807,10.000000,7.98486,2.797653,5.0,0.000000
16485,b'2021.04.06.',b'R904029201',b'RG100292',8.0,1.0,2.0,b'RG10',1.0,43.0,NaN,...,5.000000,5.000000,10.000000,0.000000,0.000000,2.017411,10.00000,0.000000,0.0,0.000000
16486,b'2021.04.06.',b'R904029202',b'RG100292',8.0,1.0,2.0,b'RG10',2.0,39.0,NaN,...,5.000000,5.000000,10.000000,0.000000,0.000000,5.828002,10.00000,0.000000,0.0,1.288707
16487,b'2021.04.06.',b'R904029203',b'RG100292',8.0,1.0,2.0,b'RG10',1.0,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16488,b'2021.04.06.',b'R904029204',b'RG100292',8.0,1.0,2.0,b'RG10',2.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
구강검사_7기.to_csv('구강검사_7기.csv', encoding = 'euc-kr')

In [6]:
가속도계조사_16 = pd.read_sas('hn16_pam.sas7bdat', format = 'sas7bdat')
가속도계조사_17 = pd.read_sas('hn17_pam.sas7bdat', format = 'sas7bdat')

In [7]:
가속도계조사_7기 = pd.concat([가속도계조사_16, 가속도계조사_17])
가속도계조사_7기

,mod_d,ID,year,sex,age,day,PAXDAY,PAXN,PAXHOUR,PAXMINUT,PAXINTEN,PAXSTEP
0,b'2021.02.26.',b'A652312202',2016.0,2.0,30.0,1.0,4.0,1.0,0.0,0.0,0.0,0.0
1,b'2021.02.26.',b'A652312202',2016.0,2.0,30.0,1.0,4.0,2.0,0.0,1.0,0.0,0.0
2,b'2021.02.26.',b'A652312202',2016.0,2.0,30.0,1.0,4.0,3.0,0.0,2.0,0.0,0.0
3,b'2021.02.26.',b'A652312202',2016.0,2.0,30.0,1.0,4.0,4.0,0.0,3.0,0.0,0.0
4,b'2021.02.26.',b'A652312202',2016.0,2.0,30.0,1.0,4.0,5.0,0.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4777915,b'2021.02.26.',b'R604346202',2017.0,2.0,75.0,7.0,5.0,10076.0,23.0,55.0,0.0,0.0
4777916,b'2021.02.26.',b'R604346202',2017.0,2.0,75.0,7.0,5.0,10077.0,23.0,56.0,0.0,0.0
4777917,b'2021.02.26.',b'R604346202',2017.0,2.0,75.0,7.0,5.0,10078.0,23.0,57.0,0.0,0.0
4777918,b'2021.02.26.',b'R604346202',2017.0,2.0,75.0,7.0,5.0,10079.0,23.0,58.0,0.0,0.0
4777919,b'2021.02.26.',b'R604346202',2017.0,2.0,75.0,7.0,5.0,10080.0,23.0,59.0,0.0,0.0

In [8]:
가속도계조사_7기.to_csv('가속도계조사_7기.csv', encoding = 'euc-kr')

**1기 데이터 전처리 (1998)**

In [9]:
영양조사_98 = pd.read_sas('hn98_24rc.sas7bdat', format = 'sas7bdat')

In [10]:
영양조사_98

,mod_d,id,year,region,psu,town_t,sex,age,educ,job_t,...,Nf_na,Nf_k,Nf_va,Nf_carot,Nf_retin,Nf_b1,Nf_b2,Nf_niac,Nf_vitc,wt_24rc
0,b'2019.03.06.',b'101010101',1998.0,1.0,b'101',1.0,2.0,50.0,2.0,3.0,...,828.558000,216.900000,34.704000,209.6700,0.000000,0.043380,0.043380,0.578400,10.122000,2.7484
1,b'2019.03.06.',b'101010101',1998.0,1.0,b'101',1.0,2.0,50.0,2.0,3.0,...,6.909750,31.669688,0.863719,0.0000,0.863719,0.010077,0.025912,0.791742,0.143953,2.7484
2,b'2019.03.06.',b'101010101',1998.0,1.0,b'101',1.0,2.0,50.0,2.0,3.0,...,146.461922,0.588516,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,2.7484
3,b'2019.03.06.',b'101010101',1998.0,1.0,b'101',1.0,2.0,50.0,2.0,3.0,...,0.051750,1.240875,0.024750,0.1485,0.000000,0.000124,0.000247,0.001237,0.000000,2.7484
4,b'2019.03.06.',b'101010101',1998.0,1.0,b'101',1.0,2.0,50.0,2.0,3.0,...,1.265625,0.140625,0.000000,0.0000,0.000000,0.007031,0.005625,0.098437,0.000000,2.7484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454836,b'2019.03.06.',b'802260103',1998.0,11.0,b'802',2.0,1.0,9.0,2.0,88.0,...,0.028000,1.926400,0.000000,0.0000,0.000000,0.000168,0.000224,0.005600,0.028000,0.8119
454837,b'2019.03.06.',b'802260103',1998.0,11.0,b'802',2.0,1.0,9.0,2.0,88.0,...,20.961000,275.986500,887.349000,5324.0940,0.000000,0.041922,0.034935,0.558960,5.589600,0.8119
454838,b'2019.03.06.',b'802260103',1998.0,11.0,b'802',2.0,1.0,9.0,2.0,88.0,...,6.733321,121.199773,0.000000,0.0000,0.000000,0.175066,0.026933,1.750663,0.000000,0.8119
454839,b'2019.03.06.',b'802260103',1998.0,11.0,b'802',2.0,1.0,9.0,2.0,88.0,...,5.748000,249.080000,15.328000,93.8840,0.000000,0.210760,0.114960,0.958000,74.724000,0.8119
454840,b'2019.03.06.',b'802260103',1998.0,11.0,b'802',2.0,1.0,9.0,2.0,88.0,...,682.632000,145.708000,0.000000,0.0000,0.000000,0.239520,0.279440,3.692600,0.000000,0.8119

In [11]:
영양조사_98.to_csv('영양조사_1기.csv', encoding = 'euc-kr')

In [12]:
건강설문조사_98 = pd.read_sas('hn98_ijmt.sas7bdat', format = 'sas7bdat')
이환_98 = pd.read_sas('hn98_dsraw.sas7bdat', format = 'sas7bdat')

In [13]:
건강설문조사_98

,mod_d,id,year,region,psu,town_t,sex,age,educ,job_t,...,MH_4_10,MH_3_10,MH_5_10,MH_6_10,MH_7_10,MH_12_10,MH_13_10,MH_8_10,wt_itv,wt_bhv
0,b'2019.03.06.',b'101010101',1998.0,1.0,b'101',1.0,2.0,50.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.26040,2.36919
1,b'2019.03.06.',b'101010102',1998.0,1.0,b'101',1.0,1.0,22.0,4.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.26040,2.34847
2,b'2019.03.06.',b'101010201',1998.0,1.0,b'101',1.0,1.0,32.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.26040,2.13631
3,b'2019.03.06.',b'101010202',1998.0,1.0,b'101',1.0,2.0,31.0,4.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.26040,2.04442
4,b'2019.03.06.',b'101010203',1998.0,1.0,b'101',1.0,1.0,0.0,0.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.26040,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39055,b'2019.03.06.',b'802690104',1998.0,11.0,b'802',2.0,1.0,2.0,0.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.72827,NaN
39056,b'2019.03.06.',b'802700101',1998.0,11.0,b'802',2.0,1.0,36.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.72827,NaN
39057,b'2019.03.06.',b'802700102',1998.0,11.0,b'802',2.0,2.0,31.0,4.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.72827,NaN
39058,b'2019.03.06.',b'802700103',1998.0,11.0,b'802',2.0,1.0,7.0,2.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.72827,NaN
39059,b'2019.03.06.',b'802700104',1998.0,11.0,b'802',2.0,2.0,6.0,0.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.72827,NaN

In [14]:
건강설문조사_98.to_csv('건강설문조사_1기.csv', encoding = 'euc-kr')

In [15]:
이환_98.to_csv('이환_1기.csv', encoding = 'euc-kr')

**2기 데이터 전처리 (2001)**

In [16]:
영양조사_01 = pd.read_sas('hn01_24rc.sas7bdat', format = 'sas7bdat')
영양조사_01

,mod_d,id,year,region,psu,town_t,apt_t,sex,age,educ,...,Nf_va,Nf_carot,Nf_retin,Nf_b1,Nf_b2,Nf_niac,Nf_vitc,N_fcode2,N_fname2,wt_24rc
0,b'2019.03.06.',b'003020601',2001.0,1.0,b'003',1.0,2.0,1.0,30.0,4.0,...,7.548889,45.351852,0.000,0.003511,0.005267,0.035111,1.228889,b'06329',b'\xc6\xc4',2258.3775
1,b'2019.03.06.',b'003020601',2001.0,1.0,b'003',1.0,2.0,1.0,30.0,4.0,...,0.000000,0.000000,0.000,0.005067,0.001267,0.012667,1.013333,b'06239',b'\xbe\xe7 \xc6\xc4',2258.3775
2,b'2019.03.06.',b'003020601',2001.0,1.0,b'003',1.0,2.0,1.0,30.0,4.0,...,0.000000,0.000000,0.000,0.000256,0.000341,0.008519,0.042593,b'06186',b'\xbb\xfd\xb0\xad',2258.3775
3,b'2019.03.06.',b'003020601',2001.0,1.0,b'003',1.0,2.0,1.0,30.0,4.0,...,0.000000,0.000000,0.000,0.002800,0.001333,0.006667,0.413333,b'06108',b'\xb8\xb6 \xb4\xc3',2258.3775
4,b'2019.03.06.',b'003020601',2001.0,1.0,b'003',1.0,2.0,1.0,30.0,4.0,...,0.000000,0.000000,0.000,0.001422,0.003793,0.056889,0.000000,b'16001',b'\xbf\xd6\xb0\xa3\xc0\xe5',2258.3775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430885,b'2019.03.06.',b'753500104',2001.0,16.0,b'753',2.0,2.0,1.0,7.0,2.0,...,0.000000,0.000000,0.000,0.004473,0.002130,0.010650,0.660300,b'06108',b'\xb8\xb6 \xb4\xc3',641.5946
430886,b'2019.03.06.',b'753500104',2001.0,16.0,b'753',2.0,2.0,1.0,7.0,2.0,...,0.000000,0.000000,0.000,0.085584,0.121244,1.854320,4.279200,b'07032',b'\xc6\xd8 \xc0\xcc \xb9\xf6 \xbc\xb8',641.5946
430887,b'2019.03.06.',b'753500104',2001.0,16.0,b'753',2.0,2.0,1.0,7.0,2.0,...,0.000000,0.000000,0.000,0.017064,0.059724,0.341280,0.000000,b'16018',b'\xb5\xc8\xc0\xe5',641.5946
430888,b'2019.03.06.',b'753500104',2001.0,16.0,b'753',2.0,2.0,1.0,7.0,2.0,...,0.192000,0.000000,0.192,0.007560,0.002280,0.061200,0.000000,b'16029',b'\xba\xd0 \xb8\xbb \xc1\xb6 \xb9\xcc \xb7\xe1',641.5946
430889,b'2019.03.06.',b'753500104',2001.0,16.0,b'753',2.0,2.0,1.0,7.0,2.0,...,24.424000,146.544000,0.000,0.002840,0.008875,0.102240,0.227200,b'16009',b'\xb0\xed \xc3\xe5 \xb0\xa1 \xb7\xe7',641.5946

In [17]:
영양조사_01.to_csv('영양조사_2기.csv', encoding = 'euc-kr')

In [18]:
건강설문조사_01 = pd.read_sas('hn01_ijmt.sas7bdat', format = 'sas7bdat')
이환_01 = pd.read_sas('hn01_dsraw.sas7bdat', format = 'sas7bdat')

In [19]:
건강설문조사_01.to_csv('건강설문조사_2기.csv', encoding = 'euc-kr')
이환_01.to_csv('이환_2기.csv', encoding = 'euc-kr')

**3기 데이터 전처리 (2005)**

In [20]:
영양조사_05 = pd.read_sas('hn05_24rc.sas7bdat', format = 'sas7bdat')
영양조사_05

,mod_d,id,year,region,psu,town_t,apt_t,age,sex,edu,...,nf_k,nf_va,nf_carot,nf_retin,nf_b1,nf_b2,nf_niac,nf_vitc,nf_alc,wt_24rc
0,b'2019.03.06.',b'0010020101',2005.0,1.0,b'0010',1.0,1.0,60.0,1.0,4.0,...,2.232,1.548,9.300,0.000,0.00072,0.00108,0.0072,0.252,0.0,3510.039944
1,b'2019.03.06.',b'0010020101',2005.0,1.0,b'0010',1.0,1.0,60.0,1.0,4.0,...,120.000,159.000,18.000,150.000,0.06000,0.42000,0.1000,0.000,0.0,3510.039944
2,b'2019.03.06.',b'0010020101',2005.0,1.0,b'0010',1.0,1.0,60.0,1.0,4.0,...,67.199,7.748,0.000,7.748,0.00298,0.00447,0.1192,0.000,0.0,3510.039944
3,b'2019.03.06.',b'0010020101',2005.0,1.0,b'0010',1.0,1.0,60.0,1.0,4.0,...,44.808,82.800,496.800,0.000,0.02304,0.06720,0.1992,1.680,0.0,3510.039944
4,b'2019.03.06.',b'0010020101',2005.0,1.0,b'0010',1.0,1.0,60.0,1.0,4.0,...,108.300,17.328,104.690,0.000,0.02166,0.02166,0.2888,5.054,0.0,3510.039944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420789,b'2019.03.06.',b'2000590102',2005.0,15.0,b'2000',1.0,1.0,49.0,2.0,4.0,...,11.960,73.600,441.600,0.000,0.03680,0.08280,0.8280,58.880,0.0,1481.304403
420790,b'2019.03.06.',b'2000590102',2005.0,15.0,b'2000',1.0,1.0,49.0,2.0,4.0,...,118.311,43.053,258.318,0.000,0.01356,0.02373,0.1695,6.780,0.0,1481.304403
420791,b'2019.03.06.',b'2000590102',2005.0,15.0,b'2000',1.0,1.0,49.0,2.0,4.0,...,130.386,0.701,2.103,0.000,0.02804,0.02804,0.0701,18.226,0.0,1481.304403
420792,b'2019.03.06.',b'2000590102',2005.0,15.0,b'2000',1.0,1.0,49.0,2.0,4.0,...,65.550,40.755,706.800,0.000,0.05700,0.06555,0.5985,1.425,0.0,1481.304403
420793,b'2019.03.06.',b'2000590102',2005.0,15.0,b'2000',1.0,1.0,49.0,2.0,4.0,...,9.018,0.000,0.000,0.000,0.03006,0.18036,1.2024,15.030,0.0,1481.304403

In [21]:
영양조사_05.to_csv('영양조사_3기.csv', encoding = 'euc-kr')

In [22]:
건강설문조사_05 = pd.read_sas('hn05_ijmt.sas7bdat', format = 'sas7bdat')

In [23]:
건강설문조사_05.to_csv('건강설문조사_3기.csv', encoding = 'euc-kr')

### 전체 기수 기본DB 전처리

In [3]:
기본_98 = pd.read_sas('hn98_all.sas7bdat', format = 'sas7bdat')
기본_01 = pd.read_sas('hn01_all.sas7bdat', format = 'sas7bdat')
기본_05 = pd.read_sas('hn05_all.sas7bdat', format = 'sas7bdat')
기본_07 = pd.read_sas('hn07_all.sas7bdat', format = 'sas7bdat')
기본_08 = pd.read_sas('hn08_all.sas7bdat', format = 'sas7bdat')
기본_09 = pd.read_sas('hn09_all.sas7bdat', format = 'sas7bdat')
기본_10 = pd.read_sas('hn10_all.sas7bdat', format = 'sas7bdat')
기본_11 = pd.read_sas('hn11_all.sas7bdat', format = 'sas7bdat')
기본_12 = pd.read_sas('hn12_all.sas7bdat', format = 'sas7bdat')
기본_13 = pd.read_sas('HN13_ALL.sas7bdat', format = 'sas7bdat')
기본_14 = pd.read_sas('HN14_ALL.sas7bdat', format = 'sas7bdat')
기본_15 = pd.read_sas('HN15_ALL.sas7bdat', format = 'sas7bdat')
기본_16 = pd.read_sas('hn16_all.sas7bdat', format = 'sas7bdat')
기본_17 = pd.read_sas('hn17_all.sas7bdat', format = 'sas7bdat')
기본_18 = pd.read_sas('hn18_all.sas7bdat', format = 'sas7bdat')
기본_19 = pd.read_sas('hn19_all.sas7bdat', format = 'sas7bdat')

In [5]:
# 1기 (1998)

기본_98.to_csv('기본DB_1기.csv', encoding = 'euc-kr', index = False)

In [6]:
# 2기 (2001)

기본_01.to_csv('기본DB_2기.csv', encoding = 'euc-kr', index = False)

In [7]:
# 3기 (2005)

기본_05.to_csv('기본DB_3기.csv', encoding = 'euc-kr', index = False)

In [13]:
# 4기 (2007 - 2009)

기본_4기 = pd.concat([기본_07, 기본_08, 기본_09])
기본_4기.to_csv('기본DB_4기.csv', encoding = 'euc-kr', index = False)

In [14]:
# 5기 (2010 - 2012)

기본_5기 = pd.concat([기본_10, 기본_11, 기본_12])
기본_5기.to_csv('기본DB_5기.csv', encoding = 'euc-kr', index = False)

In [15]:
# 6기 (2013- 2015)

기본_6기 = pd.concat([기본_13, 기본_14, 기본_15])
기본_6기.to_csv('기본DB_6기.csv', encoding = 'euc-kr', index = False)

In [16]:
# 7기 (2016 - 2017)

기본_7기 = pd.concat([기본_16, 기본_17])
기본_7기.to_csv('기본DB_7기.csv', encoding = 'euc-kr', index = False)

#### 0915 test - 기본4기 id 오류 수정

In [2]:
기본_07 = pd.read_sas('hn07_all.sas7bdat', format = 'sas7bdat')
기본_08 = pd.read_sas('hn08_all.sas7bdat', format = 'sas7bdat')
기본_09 = pd.read_sas('hn09_all.sas7bdat', format = 'sas7bdat')

In [10]:
기본_07.rename(columns = {'id' : 'ID'}, inplace = True)
기본_07

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,HW_OC_DR,HW_EST,HW_ES_KD,HW_ES_S1,HW_ES_E1,HW_ES_D1,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,b'2019.03.06',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06',b'A548480902',2007.0,1.0,1.0,1.0,b'A548',2.0,50.0,1.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,5.0,22.0
2,b'2019.03.06',b'A548480903',2007.0,1.0,1.0,1.0,b'A548',1.0,23.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06',b'A548480904',2007.0,1.0,1.0,1.0,b'A548',2.0,21.0,1.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2.0,888.0,888.0
4,b'2019.03.06',b'A548560901',2007.0,1.0,1.0,1.0,b'A548',2.0,35.0,2.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4589,b'2019.03.06',b'P549980701',2007.0,16.0,1.0,1.0,b'P549',1.0,36.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4590,b'2019.03.06',b'P549980702',2007.0,16.0,1.0,1.0,b'P549',2.0,34.0,2.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,29.0
4591,b'2019.03.06',b'P549980703',2007.0,16.0,1.0,1.0,b'P549',2.0,5.0,2.0,...,NaN,8.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
4592,b'2019.03.06',b'P549980704',2007.0,16.0,1.0,1.0,b'P549',2.0,4.0,2.0,...,NaN,8.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
4593,b'2019.03.06',b'P549980902',2007.0,16.0,1.0,1.0,b'P549',2.0,65.0,3.0,...,36.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,5.0,21.0

In [11]:
기본_08

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,HW_ES_S1,HW_ES_E1,HW_ES_D1,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,b'2019.03.06.',b'A448440901',2008.0,1.0,1.0,1.0,b'A448',1.0,70.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A448440902',2008.0,1.0,1.0,1.0,b'A448',2.0,68.0,2.0,...,b'888',b'888',888.0,b'888',b'888',888.0,888.0,1.0,6.0,24.0
2,b'2019.03.06.',b'A448680102',2008.0,1.0,1.0,1.0,b'A448',2.0,48.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A448680501',2008.0,1.0,1.0,1.0,b'A448',2.0,35.0,3.0,...,b'888',b'888',888.0,b'888',b'888',888.0,888.0,1.0,3.0,23.0
4,b'2019.03.06.',b'A448680502',2008.0,1.0,1.0,1.0,b'A448',1.0,12.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,b'2019.03.06.',b'P451960905',2008.0,16.0,1.0,1.0,b'P451',2.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
9740,b'2019.03.06.',b'P451980901',2008.0,16.0,1.0,1.0,b'P451',1.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9741,b'2019.03.06.',b'P451980902',2008.0,16.0,1.0,1.0,b'P451',2.0,62.0,1.0,...,b'888',b'888',888.0,b'888',b'888',888.0,888.0,1.0,6.0,23.0
9742,b'2019.03.06.',b'P451980905',2008.0,16.0,1.0,1.0,b'P451',1.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9743,b'2019.03.06.',b'P451980906',2008.0,16.0,1.0,1.0,b'P451',1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
기본_09

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_S3,HW_ES_E3,HW_ES_D3,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,b'2019.03.06.',b'A408359801',2009.0,1.0,1.0,1.0,b'A408',2.0,48.0,NaN,...,b'999',b'999',999.0,b'999',b'999',999.0,6.0,1.0,8.0,23.0
1,b'2019.03.06.',b'A408359802',2009.0,1.0,1.0,1.0,b'A408',2.0,49.0,NaN,...,b'888',b'888',888.0,b'888',b'888',888.0,888.0,1.0,13.0,19.0
2,b'2019.03.06.',b'A408359803',2009.0,1.0,1.0,1.0,b'A408',1.0,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A408399801',2009.0,1.0,1.0,1.0,b'A408',1.0,55.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A408399802',2009.0,1.0,1.0,1.0,b'A408',2.0,51.0,NaN,...,b'999',b'999',999.0,b'999',b'999',999.0,3.0,1.0,2.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,NaN,...,b'888',b'888',888.0,b'888',b'888',888.0,888.0,1.0,5.0,27.0
10529,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,75.0,...,b'888',b'888',888.0,b'888',b'888',888.0,888.0,8.0,888.0,888.0
10530,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10531,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10532,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,NaN,...,b'888',b'888',888.0,b'888',b'888',888.0,888.0,1.0,3.0,28.0

In [13]:
기본_4기 = pd.concat([기본_07, 기본_08, 기본_09])

In [14]:
기본_4기

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DS_4_1,DS_4_2,DS_5_1,DS_5_2,OA_H_scale,OA_K_scale,OA_KH,HW_ES_S3,HW_ES_E3,HW_ES_D3
0,b'2019.03.06',b'A548480901',2007.0,1.0,1.0,1.0,b'A548',1.0,55.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06',b'A548480902',2007.0,1.0,1.0,1.0,b'A548',2.0,50.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06',b'A548480903',2007.0,1.0,1.0,1.0,b'A548',1.0,23.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06',b'A548480904',2007.0,1.0,1.0,1.0,b'A548',2.0,21.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06',b'A548560901',2007.0,1.0,1.0,1.0,b'A548',2.0,35.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,b'2019.03.06.',b'P411980902',2009.0,16.0,2.0,1.0,b'P411',2.0,33.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0
10529,b'2019.03.06.',b'P411980903',2009.0,16.0,2.0,1.0,b'P411',2.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0
10530,b'2019.03.06.',b'P411980904',2009.0,16.0,2.0,1.0,b'P411',1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10531,b'2019.03.06.',b'P411980906',2009.0,16.0,2.0,1.0,b'P411',1.0,65.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10532,b'2019.03.06.',b'P411980907',2009.0,16.0,2.0,1.0,b'P411',2.0,57.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'888',b'888',888.0

In [15]:
기본_4기.to_csv('기본DB_4기.csv', encoding = 'euc-kr', index = False)

In [16]:
기본_10 = pd.read_sas('hn10_all.sas7bdat', format = 'sas7bdat')
기본_11 = pd.read_sas('hn11_all.sas7bdat', format = 'sas7bdat')
기본_12 = pd.read_sas('hn12_all.sas7bdat', format = 'sas7bdat')

In [17]:
## 기본 5기는 id 에러 없음

기본_5기 = pd.concat([기본_10, 기본_11, 기본_12])
기본_5기

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,LF_S10,LF_S11,LF_S12,LF_S13,LF_S14,LF_S14_1,LF_S15,LF_S16,LF_SECUR,LF_SECUR_G
0,b'2019.03.06.',b'A308059801',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'2019.03.06.',b'A308059802',b'A3080598',2010.0,1.0,1.0,2.0,b'A308',2.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'2019.03.06.',b'A308120201',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',1.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'2019.03.06.',b'A308120202',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'2019.03.06.',b'A308120203',b'A3081202',2010.0,1.0,1.0,2.0,b'A308',2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8053,b'2019.03.06.',b'P111978901',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',1.0,75.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
8054,b'2019.03.06.',b'P111978902',b'P1119789',2012.0,16.0,2.0,1.0,b'P111',2.0,67.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
8055,b'2019.03.06.',b'P111979301',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',1.0,63.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
8056,b'2019.03.06.',b'P111979302',b'P1119793',2012.0,16.0,2.0,1.0,b'P111',2.0,59.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
8057,b'2019.03.06.',b'P111980701',b'P1119807',2012.0,16.0,2.0,1.0,b'P111',2.0,66.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0